<section class="services-area">
  <div class="cooparation-section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-xl-5 cooperation-section-area">
          <div class="section-title">
            <h2>Współpraca</h2>
            <p>
              Zapraszamy do współpracy firmy pracujące w branży
              rolno-spożywczej. Wraz z partnerami wdrażamy nowoczesne modele
              współpracy handlowej oparte o wymianę informacji cross-selling
              oraz integrację usług.
            </p>
            <p>
              Skorzystaj z naszych produktów i doświadczenia oraz możliwości
              badawczych w zakresie oprogramowania, konstrukcji sensorów IoT,
              integrowania rozwiązań oraz doradztwa w zakresie cyfrowej
              transformacji.
            </p>
          </div>
          <div class="sensors-list__btn-container">
            <a class="default-btn"> <span>ODEZWIJ SIĘ DO NAS</span></a>
          </div>
        </div>
        <div class="col-12 col-xl-7">
          <div class="cooperation-section-img">
            <img
              src="../../../../../assets/img/cooperation-img.png"
              class="cooperation-img"
            />
            <img
              src="../../../../../assets/img/Vector-cooperation.png"
              class="vector-cooperation"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
