<section class="services-area">
  <div class="cooparation-section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-xl-5 cooperation-section-area">
          <div class="section-title">
            <h2>{{ "LANDINGPAGE.COOPERATION.TITLE" | translate }}</h2>
            <p>
              {{ "LANDINGPAGE.COOPERATION.PARAGRAPH_1" | translate }}
            </p>
            <p>
              {{ "LANDINGPAGE.COOPERATION.PARAGRAPH_2" | translate }}
            </p>
          </div>
          <div class="sensors-list__btn-container">
            <a routerLink="/contact" class="default-btn">
              <span>{{ "LANDINGPAGE.COOPERATION.BUTTON" | translate }}</span></a
            >
          </div>
        </div>
        <div class="col-12 col-xl-7">
          <div class="cooperation-section-img">
            <img
              src="../../../../../assets/img/cooperation-img.png"
              class="cooperation-img"
            />
            <img
              src="../../../../../assets/img/Vector-cooperation.png"
              class="vector-cooperation"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
