<section class="recipients-detail-long">
  <div class="container-fluid recipients-detail-long__banner-container">
    <div class="row">
      <div class="col-12 col-md-8">
        <h1 class="recipients-detail-long__title">
          {{ "AGRICULTURAL_PRODUCERS.TITLE" | translate }}
        </h1>
      </div>
    </div>
    <img
      class="recipients-detail-long__banner d-none d-md-block"
      src="assets/img/hand-truck%201.png"
      alt="Hand truck image"
    />
  </div>
</section>

<div class="recipients-detail-long recipients-detail-long--secondary-bg">
  <div class="container-fluid p-0 m-auto">
    <div class="row">
      <div class="col-12 col-xl-8 position-relative">
        <div
          class="container-fluid container-fluid--small recipients-detail-long--second-container"
        >
          <div class="row">
            <div class="col-12 col-md-8 col-xl-9">
              <h2 class="recipients-detail-long__title--small">
                {{ "AGRICULTURAL_PRODUCERS.HOW_WE_WORKS_TITLE" | translate }}
              </h2>
              <p
                class="recipients-detail-long__paragraph recipients-detail-long__paragraph--small"
              >
                {{ "AGRICULTURAL_PRODUCERS.HOW_WE_WORKS_1" | translate }}
              </p>
              <p
                class="recipients-detail-long__paragraph recipients-detail-long__paragraph--small"
              >
                {{ "AGRICULTURAL_PRODUCERS.HOW_WE_WORKS_2" | translate }}
              </p>
              <p
                class="recipients-detail-long__paragraph recipients-detail-long__paragraph--small"
              >
                {{ "AGRICULTURAL_PRODUCERS.HOW_WE_WORKS_3" | translate }}
              </p>
            </div>
          </div>
          <img
            class="recipients-detail-long__img-vegetables"
            src="/assets/img/automatic-vegetable-plucking.png"
            alt="vegetables"
          />
        </div>

        <div
          class="container-fluid container-fluid--small recipients-detail-long--third-container"
        >
          <div class="row recipients-detail-long--third-container-row">
            <div
              class="col-12 col-md-8 col-xl-9 recipients-detail-long--third-container-border"
            >
              <h2 class="recipients-detail-long__title--small">
                {{ "AGRICULTURAL_PRODUCERS.POSSIBILITIES_TITLE" | translate }}
              </h2>
              <p class="recipients-detail-long__paragraph">
                {{
                  "AGRICULTURAL_PRODUCERS.POSSIBILITIES_PARAGRAPH" | translate
                }}
              </p>
              <ul class="recipients-detail-long__list">
                <li class="recipients-detail-long__list-item">
                  {{
                    "AGRICULTURAL_PRODUCERS.POSSIBILITIES_ITEM_1" | translate
                  }}
                </li>
                <li class="recipients-detail-long__list-item">
                  {{
                    "AGRICULTURAL_PRODUCERS.POSSIBILITIES_ITEM_2" | translate
                  }}
                </li>
                <li class="recipients-detail-long__list-item">
                  {{
                    "AGRICULTURAL_PRODUCERS.POSSIBILITIES_ITEM_3" | translate
                  }}
                </li>
                <li class="recipients-detail-long__list-item">
                  {{
                    "AGRICULTURAL_PRODUCERS.POSSIBILITIES_ITEM_4" | translate
                  }}
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div
          class="recipients-detail-long__img-graph-container position-relative"
        >
          <div class="recipients-detail-long__img-graph-box">
            <img
              class="recipients-detail-long__img-graph"
              src="/assets/img/growth-graph-1.png"
              alt="growth"
            />
            <img
              class="recipients-detail-long__violet-vector"
              src="assets/img/vector-violet.png"
              alt="Violet vector"
            />
          </div>
        </div>
        <div
          class="container-fluid container-fluid--small recipients-detail-long--fourth-container"
        >
          <div class="row recipients-detail-long--fourth-container-row">
            <div class="col-12 col-md-8 col-xl-9">
              <h2 class="recipients-detail-long__title--small">
                {{ "AGRICULTURAL_PRODUCERS.FUNCTIONS_TITLE" | translate }}
              </h2>
              <ul class="recipients-detail-long__list mt-xl-0">
                <li class="recipients-detail-long__list-item">
                  {{ "AGRICULTURAL_PRODUCERS.FUNCTIONS_ITEM_1" | translate }}
                </li>
                <li class="recipients-detail-long__list-item">
                  {{ "AGRICULTURAL_PRODUCERS.FUNCTIONS_ITEM_2" | translate }}
                </li>
                <li class="recipients-detail-long__list-item">
                  {{ "AGRICULTURAL_PRODUCERS.FUNCTIONS_ITEM_3" | translate }}
                </li>
                <li class="recipients-detail-long__list-item">
                  {{ "AGRICULTURAL_PRODUCERS.FUNCTIONS_ITEM_4" | translate }}
                </li>
                <li class="recipients-detail-long__list-item">
                  {{ "AGRICULTURAL_PRODUCERS.FUNCTIONS_ITEM_5" | translate }}
                </li>
                <li class="recipients-detail-long__list-item">
                  {{ "AGRICULTURAL_PRODUCERS.FUNCTIONS_ITEM_6" | translate }}
                </li>
                <li class="recipients-detail-long__list-item">
                  {{ "AGRICULTURAL_PRODUCERS.FUNCTIONS_ITEM_7" | translate }}
                </li>
                <li class="recipients-detail-long__list-item">
                  {{ "AGRICULTURAL_PRODUCERS.FUNCTIONS_ITEM_8" | translate }}
                </li>
                <li class="recipients-detail-long__list-item">
                  {{ "AGRICULTURAL_PRODUCERS.FUNCTIONS_ITEM_9" | translate }}
                </li>
                <li class="recipients-detail-long__list-item">
                  {{ "AGRICULTURAL_PRODUCERS.FUNCTIONS_ITEM_10" | translate }}
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div
          class="recipients-detail-long__app-image-container d-flex justify-content-center"
        >
          <div class="recipients-detail-long__app-image-box">
            <img
              class="recipients-detail-long__app-image"
              src="/assets/img/application.png"
              alt="application"
            />
            <img
              class="recipients-detail-long__app-vector-image"
              src="/assets/img/app-vector.png"
              alt="vector"
            />
          </div>
        </div>
      </div>
      <div
        class="col-xl-4 d-none d-xl-block recipients-detail-long__right-container"
      >
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <div class="recipients-detail-long__brands">
                <p class="recipients-detail-long__paragraph--gray">
                  {{ "RECIPIENTS.CHECK" | translate }}
                </p>
                <div class="recipients-detail-long__btn-list">
                  <a
                    class="default-btn default-btn--border mb-3"
                    href="fruit-and-vegetable-distributors"
                  >
                    {{ "RECIPIENTS.ITEM_4" | translate }}
                  </a>
                  <a
                    class="default-btn default-btn--border mb-3"
                    href="agricultural-producers"
                  >
                    {{ "RECIPIENTS.ITEM_1" | translate }}
                  </a>
                  <a
                    class="default-btn default-btn--border mb-3"
                    href="rentals-agricultural-equipment"
                  >
                    {{ "RECIPIENTS.ITEM_2" | translate }}
                  </a>
                  <a class="default-btn default-btn--border" href="startups">
                    {{ "RECIPIENTS.ITEM_7" | translate }}
                  </a>
                </div>
              </div>
              <div class="recipients-detail-long__contact-section">
                <p class="recipients-detail-long__paragraph--gray">
                  {{ "FARMCLOUD.CONTACT.TITLE" | translate }}
                </p>
                <p
                  [innerHTML]="'FARMCLOUD.CONTACT.ADDRESS' | translate"
                  class="recipients-detail-long__contact-section-p"
                ></p>
                <a
                  class="default-btn default-btn--border d-flex"
                  routerLink="/contact"
                >
                  {{ "FARMCLOUD.CONTACT.BUTTON" | translate }}
                </a>
              </div>
              <div class="recipients-detail-long__contact-section">
                <p class="recipients-detail-long__paragraph--gray">
                  {{ "FARMCLOUD.BROCHURES.TITLE" | translate }}
                </p>
                <div>
                  <div class="recipients-detail-long__contact-link-container">
                    <a
                      class="recipients-detail-long__contact-link"
                      href="./assets/img/katalog-AgriSolutions-FoodPass-7%20(1).pdf"
                      target="_blank"
                    >
                      <img src="assets/img/broszura.png" alt="Broszura" />
                      FoodPass
                    </a>
                  </div>
                  <div class="recipients-detail-long__contact-link-container">
                    <a
                      class="recipients-detail-long__contact-link"
                      href="./assets/img/katalog-AgriSolutions-FoodPass-7%20(1).pdf"
                      target="_blank"
                    >
                      <img src="assets/img/broszura.png" alt="Broszura" />
                      FarmPortal
                    </a>
                  </div>
                  <div class="recipients-detail-long__contact-link-container">
                    <a
                      class="recipients-detail-long__contact-link"
                      href="./assets/img/katalog-AgriSolutions-FoodPass-7%20(1).pdf"
                      target="_blank"
                    >
                      <img src="assets/img/broszura.png" alt="Broszura" />
                      FarmCloud
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="recipients-detail-long recipients-detail-long--dark-bg">
  <div class="container-fluid">
    <div class="row">
      <div
        class="col-12 col-md-8 col-xl-5 recipients-detail-long__dark-bg-title-container"
      >
        <h2 class="recipients-detail-long__title--small">
          {{ "RECIPIENTS.OUR_PRODUCTS" | translate }}
        </h2>
        <p class="recipients-detail-long__paragraph">
          {{ "RECIPIENTS.OUR_PRODUCTS_PARAGRAPH" | translate }}
        </p>
      </div>
      <div class="d-none d-xl-block col-xl-5">
        <div class="recipients-detail-long__business-img-container">
          <img
            class="recipients-detail-long__business-img"
            src="assets/img/business-document.png"
            alt="Business document"
          />
          <img
            class="recipients-detail-long__business-vector-img"
            src="assets/img/vector-business-doc.png"
            alt="Business document vector"
          />
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid px-0 px-md-4 px-xl-0 mx-0 pt-0">
    <div class="row">
      <div class="col-12 col-md-auto">
        <div
          class="recipients-detail-long__product-item recipients-detail-long__product-item--first"
        >
          <img
            class="recipients-detail-long__product-item-logo--title"
            src="assets/img/Food_Pass_logo.png"
            alt="Food pass logo"
          />
          <a
            routerLink="/foodpass"
            class="recipients-detail-long__product-item-link"
          >
            {{ "RECIPIENTS.OUR_PRODUCTS_LINK" | translate }}
            <img
              class="ms-3"
              src="assets/img/arrow-short.png"
              alt="Get know product"
            />
          </a>
          <div class="recipients-detail-long__product-item-logo">
            <img
              class="recipients-detail-long__product-item-logo--vector"
              src="assets/img/Vector_product.png"
              alt="Food pass vector"
            />
            <img
              class="recipients-detail-long__product-item-logo--img"
              src="assets/img/eco_plant.png"
              alt="Food pass image"
            />
          </div>
        </div>
      </div>
      <div class="col-12 col-md-auto">
        <div
          class="recipients-detail-long__product-item recipients-detail-long__product-item--second"
        >
          <img
            class="recipients-detail-long__product-item-logo--title recipients-detail-long__product-item-logo--title-violet"
            src="assets/img/Farm_Cloud_logo.png"
            alt="Food cloud logo"
          />
          <a
            routerLink="/farmcloud"
            class="recipients-detail-long__product-item-link"
          >
            {{ "RECIPIENTS.OUR_PRODUCTS_LINK" | translate }}
            <img
              class="ms-3"
              src="assets/img/arrow-short.png"
              alt="Get know product"
            />
          </a>
          <div class="recipients-detail-long__product-item-logo">
            <img
              class="recipients-detail-long__product-item-logo--vector"
              src="assets/img/Vector_farmcloud.png"
              alt="Food cloud vector"
            />
            <img
              class="recipients-detail-long__product-item-logo--img recipients-detail-long__product-item-logo--img-violet"
              src="assets/img/cloud_data.png"
              alt="Food cloud image"
            />
          </div>
        </div>
      </div>
      <div class="col-12 col-md-auto">
        <div
          class="recipients-detail-long__product-item recipients-detail-long__product-item--last"
        >
          <img
            class="recipients-detail-long__product-item-logo--title recipients-detail-long__product-item-logo--title-orange"
            src="assets/img/Farm_Portal_logo.png"
            alt="Food portal logo"
          />
          <a
            routerLink="/farmportal"
            class="recipients-detail-long__product-item-link"
          >
            {{ "RECIPIENTS.OUR_PRODUCTS_LINK" | translate }}
            <img
              class="ms-3"
              src="assets/img/arrow-short.png"
              alt="Get know product"
            />
          </a>
          <div class="recipients-detail-long__product-item-logo">
            <img
              class="recipients-detail-long__product-item-logo--vector recipients-detail-long__product-item-logo--vector-orange"
              src="assets/img/Vector_farmportal.png"
              alt="Food portal vector"
            />
            <img
              class="recipients-detail-long__product-item-logo--img recipients-detail-long__product-item-logo--img-orange"
              src="assets/img/smart_farm.png"
              alt="Food portal image"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
