<footer class="{{ footerClass }}">
  <div class="container-fluid container-fluid--small">
    <div class="row">
      <div class="col-12 col-md-3 mb-5 mb-xl-0">
        <div class="single-footer-widget single-footer-widget--start">
          <a routerLink="/" class="logo"
            ><img src="assets/img/logoagri.png" alt="logo"
          /></a>
        </div>
      </div>

      <div class="col-12 col-md-3 mb-5 mb-xl-0">
        <div class="single-footer-widget">
          <div class="footer-address-list">
            <span>
              Agri Solutions Sp. z o. o. <br />Ligota Wielka 34 <br />56-400
              Ligota Wielka <br />(+48) XXX XXX XXX <br />
              kontakt@agrisolutions.eu
            </span>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-3 mb-5 mb-xl-0">
        <div class="single-footer-widget">
          <div class="footer-links-list">
            <a routerLink="/team">Polityka prywatności</a>
            <a routerLink="/services">Historia zmian</a>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-3 mb-5 mb-xl-0">
        <div class="single-footer-widget single-footer-widget--end">
          <div class="footer-contact-info">
            <span
              >Agri Solutions realizuje projekt w ramach konkursu 7/1.1.1/2020
              Szybka ścieżka – Agrotech, POIR.01.01.01-00-2267/20 - FoodPass -
              paszportyzacja żywności oparta na platformie integracyjnej danych,
              systemie eksperckim i technologiach sensorycznych</span
            >
          </div>
        </div>
      </div>
    </div>
    <img
      class="contact-page-img"
      src="assets/img/footer-logo.png"
      alt="image"
    />
  </div>

  <!-- <div class="footer-map"><img src="assets/img/footer-map.png" alt="image"></div> -->
</footer>

<!-- <div class="go-top"><i class="flaticon-up"></i></div> -->
