<section class="products">
  <div class="container-fluid products--first-container">
    <div class="row">
      <div class="col-12 col-md-8">
        <h1 class="products__title">FoodPass - zarządzanie łańcuchem dostaw</h1>
        <p class="products__title-p">
          Skontaktuj się z nami w celu otrzymania dostępu do darmowego konta
        </p>
        <a class="default-btn" href="/contact">Zapytaj o darmowe konto</a>
      </div>
      <div
        class="col-md-4 d-none d-md-block d-xl-flex justify-content-xl-center"
      >
        <img
          class="products__banner"
          src="assets/img/Food_Pass_logo_sygnet_RGB-1.png"
          alt="Food pass sygnet"
        />
      </div>
    </div>
  </div>
</section>

<div class="products products--secondary-bg">
  <div class="container-fluid p-0 m-auto">
    <div class="row">
      <div class="col-12 col-xl-8 position-relative">
        <div
          class="container-fluid container-fluid--small products--third-container"
        >
          <div class="row">
            <div class="col-12 col-xl-10">
              <h2 class="products__title--small">Poznaj możliwości</h2>
              <ul class="products__list">
                <li class="products__list-item">
                  Zawieraj umowy z dostawcami, kontroluj ich realizację,
                  monitoruj jakość dostarczanych produktów
                </li>
                <li class="products__list-item">
                  Bądź bliżej dostawców - bezpłatnie wyposaż ich w aplikację
                  FarmPortal dzięki, której zoptymalizują produkcję rolną
                </li>
                <li class="products__list-item">
                  Integracja z wewnętrznymi systemami informatycznymi w
                  przedsiębiorstwie (ERP, MRP, CRM) oraz maszynami
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div
          class="container-fluid container-fluid--small pt-md-0 products--fourth-container"
        >
          <div class="row">
            <div class="col-12 col-xl-10">
              <h2 class="products__title--small">Korzyści</h2>
              <ul class="products__list mt-xl-0">
                <li class="products__list-item">
                  Zapewnienie dostaw surowców o wymaganej jakości oraz ilości
                </li>
                <li class="products__list-item">
                  Optymalizacja procesu audytu upraw dostawców, kontroli
                  jakości, obiegu informacji w przedsiębiorstwie
                </li>
                <li class="products__list-item">
                  Wygodna współpraca z dostawcami na każdym etapie produkcji
                </li>
                <li class="products__list-item">
                  Redukcja kosztów operacyjnych
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="container-fluid pb-md-0">
          <div class="row">
            <div class="col-12 col-xl-9">
              <h2 class="products__title--small">Dla kogo?</h2>
              <div class="row products__gray-box-row">
                <div class="col-12 col-md-6">
                  <div class="products__gray-box">Produkcja roślinna</div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="products__gray-box">Sadownictwo</div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="products__gray-box">Warzywnictwo</div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="products__gray-box">Grupy producenckie</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container-fluid pt-0 container-fluid--small pb-0 d-md-none">
          <div class="row">
            <div class="col-12 col-xl-10">
              <h2 class="products__title--small">
                Poznaj branże, w których sprawdzi się FarmPortal
              </h2>
              <div class="row products__btn-row">
                <div class="col-12 col-md-6">
                  <a href="#" class="default-btn default-btn--border d-flex">
                    dystrybutorzy owoców i warzyw
                  </a>
                </div>
                <div class="col-12 col-md-6">
                  <a href="#" class="default-btn default-btn--border d-flex">
                    doradztwo rolne
                  </a>
                </div>
                <div class="col-12 col-md-6">
                  <a href="#" class="default-btn default-btn--border d-flex">
                    ubezpieczenia
                  </a>
                </div>
                <div class="col-12 col-md-6">
                  <a href="#" class="default-btn default-btn--border d-flex">
                    startupy
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="products__food-pass-ilu">
          <div class="row">
            <div class="col-12 col-xl-9 d-flex justify-content-center">
              <img
                src="assets/img/food_pass_ilu.png"
                alt="Food pass ilustration"
              />
            </div>
          </div>
        </div>
        <div class="container-fluid py-0">
          <div class="row">
            <div class="col-12 col-xl-9">
              <h2 class="products__title--small">Monitoring dostaw</h2>
              <p class="products__paragraph">
                Zapewnij sobie ciągłość wysokiej jakości dostaw surowców,
                zabezpiecz swoją produkcję i kontrakty. Śledź cały łańcuch - od
                pola do stołu.
              </p>
              <div class="row products__box-row">
                <div class="col-6">
                  <div class="products__box-border">
                    <img src="assets/img/Vector-4.png" alt="icon" />
                    <p>Audyt technologów</p>
                  </div>
                </div>
                <div class="col-6">
                  <div class="products__box-border">
                    <img src="assets/img/Vector-4.png" alt="icon" />
                    <p>Karty pola producentów</p>
                  </div>
                </div>
                <div class="col-6">
                  <div class="products__box-border">
                    <img src="assets/img/Vector-4.png" alt="icon" />
                    <p>Audyty gospodarstw</p>
                  </div>
                </div>
                <div class="col-6">
                  <div class="products__box-border">
                    <img src="assets/img/Vector-4.png" alt="icon" />
                    <p>Warunkowe przyjęcia</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container-fluid pb-0">
          <div class="row">
            <div class="col-12 col-xl-10">
              <h2 class="products__title--small">
                Kontraktowanie produktów i towarów
              </h2>
              <p class="products__paragraph">
                W jednym miejscu zawieraj umowy z dostawcami, definiuj
                harmonogramy dostaw oraz monitoruj realizację kontraktu dzięki
                powiązaniu z dostawami.
              </p>
              <div class="row products__box-row">
                <div class="col-6">
                  <div class="products__box-border">
                    <img src="assets/img/Vector-4.png" alt="icon" />
                    <p>Zawieranie umów</p>
                  </div>
                </div>
                <div class="col-6">
                  <div class="products__box-border">
                    <img src="assets/img/Vector-4.png" alt="icon" />
                    <p>Harmonogram realizacji</p>
                  </div>
                </div>
                <div class="col-6">
                  <div class="products__box-border">
                    <img src="assets/img/Vector-4.png" alt="icon" />
                    <p>Dokładna lokalizacja uprawy</p>
                  </div>
                </div>
                <div class="col-6">
                  <div class="products__box-border">
                    <img src="assets/img/Vector-4.png" alt="icon" />
                    <p>Raporty i analizy</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container-fluid pb-0">
          <div class="row">
            <div class="col-12 col-xl-10">
              <h2 class="products__title--small">
                Kontrola jakości oraz bezpieczeństwa
              </h2>
              <p class="products__paragraph">
                System wspiera kontrolę bezpieczeństwa na każdym etapie
                produkcji - od gruntu po odbiór towaru. Dla każdej partii towaru
                możesz określić i udokumentować jakość.
              </p>
              <div class="row products__box-row">
                <div class="col-6">
                  <div class="products__box-border">
                    <img src="assets/img/Vector-4.png" alt="icon" />
                    <p>Procedury kontroli</p>
                  </div>
                </div>
                <div class="col-6">
                  <div class="products__box-border">
                    <img src="assets/img/Vector-4.png" alt="icon" />
                    <p>Opiniowanie dostaw</p>
                  </div>
                </div>
                <div class="col-6">
                  <div class="products__box-border">
                    <img src="assets/img/Vector-4.png" alt="icon" />
                    <p>Zarządzanie zadaniami i badaniami</p>
                  </div>
                </div>
                <div class="col-6">
                  <div class="products__box-border">
                    <img src="assets/img/Vector-4.png" alt="icon" />
                    <p>Warunkowe przyjęcia</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container-fluid products__last-container">
          <div class="row">
            <div class="col-12 col-xl-10">
              <h2 class="products__title--small">
                Integracja z istniejącymi procedurami
              </h2>
              <p class="products__paragraph">
                Zautomatyzuj istniejące procesy, połącz narzędzia w jej system
                wymiany danych. FoodPass w szybki i bezpieczny sposób zintegruje
                się z Twoją firmą.
              </p>
              <div class="row products__box-row">
                <div class="col-6">
                  <div class="products__box-border">
                    <img src="assets/img/Vector-4.png" alt="icon" />
                    <p>Dedykowane raporty i analizy</p>
                  </div>
                </div>
                <div class="col-6">
                  <div class="products__box-border">
                    <img src="assets/img/Vector-4.png" alt="icon" />
                    <p>Instalacja na Twoich serwerach</p>
                  </div>
                </div>
                <div class="col-6">
                  <div class="products__box-border">
                    <img src="assets/img/Vector-4.png" alt="icon" />
                    <p>Integracja z systemami ERP, MRP</p>
                  </div>
                </div>
                <div class="col-6">
                  <div class="products__box-border">
                    <img src="assets/img/Vector-4.png" alt="icon" />
                    <p>Rozbudowa o dodatkowe funkcje</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-4 d-none d-xl-block products__right-container">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <div class="products__brands">
                <p class="products__paragraph--gray">
                  Branże powiązane z FarmPortal
                </p>
                <div class="products__btn-list">
                  <a class="default-btn default-btn--border mb-3" href="#">
                    dystrybutorzy owoców i warzyw
                  </a>
                  <a class="default-btn default-btn--border mb-3" href="#">
                    doradztwo rolne
                  </a>
                  <a class="default-btn default-btn--border mb-3" href="#">
                    ubezpieczenia
                  </a>
                  <a class="default-btn default-btn--border" href="#">
                    startupy
                  </a>
                </div>
              </div>
              <div class="products__contact-section">
                <p class="products__paragraph--gray">Kontakt</p>
                <p class="products__contact-section-p">
                  Ligota Wielka 34 <br />
                  56-400 Ligota Wielka <br />
                  (+48) XXX XXX XXX<br />
                  kontakt@agrisolutions.eu
                </p>
                <a
                  class="default-btn default-btn--border d-flex"
                  routerLink="/contact"
                >
                  napisz do nas
                </a>
              </div>
              <div class="products__contact-section">
                <p class="products__paragraph--gray">Broszury</p>
                <div>
                  <div class="products__contact-link-container">
                    <a class="products__contact-link" href="#">
                      <img src="assets/img/broszura.png" alt="Broszura" />
                      FoodPass
                    </a>
                  </div>
                  <div class="products__contact-link-container">
                    <a class="products__contact-link" href="#">
                      <img src="assets/img/broszura.png" alt="Broszura" />
                      FarmPortal
                    </a>
                  </div>
                  <div class="products__contact-link-container">
                    <a class="products__contact-link" href="#">
                      <img src="assets/img/broszura.png" alt="Broszura" />
                      FarmCloud
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <img
          class="products__dark-img-sygnet"
          src="assets/img/Food_Pass_logo_sygnet-1.png"
          alt="food pass sygnet"
        />
      </div>
    </div>
  </div>
</div>

<div class="products products--dark-bg">
  <div class="container-fluid">
    <div class="row align-items-xl-start">
      <div class="col-12 col-xl-6 products__dark-bg-title-container">
        <h2 class="products__title--small">Współpraca z dostawcami</h2>
        <p class="products__paragraph">
          Wyposaż dostawców w aplikację do zarządzania produkcją rolną
          FarmPortal. Twoi dostawcy zredukują koszty produkcji, zwiększą plony
          oraz jakość produktu. Wykorzystując współdzielenie danych będziesz
          mógł im doradzać, mitygować zagrożenia oraz zoptymalizować procesy
          audytu i kontroli.
        </p>
        <div class="row products__box-row">
          <div class="col-6">
            <div class="products__box-border products__box-border--dark">
              <img src="assets/img/vector-white.png" alt="icon" />
              <p>Wewnętrzny komunikator</p>
            </div>
          </div>
          <div class="col-6">
            <div class="products__box-border products__box-border--dark">
              <img src="assets/img/vector-white.png" alt="icon" />
              <p>Wgląd w karty pola</p>
            </div>
          </div>
          <div class="col-6">
            <div class="products__box-border products__box-border--dark">
              <img src="assets/img/vector-white.png" alt="icon" />
              <p>Dedykowane raporty i analizy</p>
            </div>
          </div>
          <div class="col-6">
            <div class="products__box-border products__box-border--dark">
              <img src="assets/img/vector-white.png" alt="icon" />
              <p>Doradztwo</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-xl-6 products__dark-img">
        <img src="assets/img/współpraca_ilu.png" alt="icon" />
      </div>
    </div>
  </div>
</div>
<div class="products products--secondary-bg">
  <div class="container-fluid p-0">
    <div class="row">
      <div class="col-xl-8 products--secondary-bg-border">
        <div class="container-fluid products__food-pass-container">
          <img
            src="assets/img/Food_Pass_logo_granat_RGB-1.png"
            alt="Food pass ilustration"
          />
          <img
            class="products__earth-day-img d-none d-xl-block"
            src="assets/img/earth-day-1.png"
            alt="Food pass ilustration"
          />
        </div>
        <div class="container-fluid pt-0">
          <div class="row">
            <div class="col-12 col-xl-8">
              <h2 class="products__title--small">
                Zwiększenie <br />
                wydajności pracy
              </h2>
              <div class="row products__gray-box-row">
                <div class="col-12 col-md-6">
                  <div class="products__gray-box">Notowania</div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="products__gray-box">Szybkie kontakty</div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="products__gray-box">Baza nawozów</div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="products__gray-box">Grupy producenckie</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container-fluid pt-0 d-xl-none">
          <div class="row">
            <div class="col-12 col-xl-6">
              <h2 class="products__title--small">Broszury do pobrania</h2>
              <p class="products__paragraph">
                Chcesz przeczytać więcej o naszych produktach? Pobierz broszury
                pdf.
              </p>
              <ul class="products__documents">
                <li class="products__documents-item">
                  <a href="#">
                    <img src="assets/img/broszura.png" alt="Broszura" />
                    FarmPortal
                  </a>
                </li>
                <li class="products__documents-item">
                  <a href="#">
                    <img src="assets/img/broszura.png" alt="Broszura" />
                    FoodPass
                  </a>
                </li>
                <li class="products__documents-item">
                  <a href="#">
                    <img src="assets/img/broszura.png" alt="Broszura" />
                    FarmCloud
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="container-fluid pt-0 products__get-know-container">
          <div class="row">
            <div class="col-12 col-xl-8">
              <h2 class="products__title--small">Dowiedz się więcej</h2>
              <div class="row products__btn-row">
                <div class="col-12 col-md-6">
                  <a href="#" class="default-btn default-btn--border d-flex">
                    Rolnictwo 4.0
                  </a>
                </div>
                <div class="col-12 col-md-6">
                  <a href="#" class="default-btn default-btn--border d-flex">
                    Modele wdrożenia
                  </a>
                </div>
                <div class="col-12 col-md-6">
                  <a href="#" class="default-btn default-btn--border d-flex">
                    FoodPass
                  </a>
                </div>
                <div class="col-12 col-md-6">
                  <a href="#" class="default-btn default-btn--border d-flex">
                    FarmCloud
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="main-banner-customers">
        <div class="container-fluid container-fluid--small pt-0">
          <div class="row customers">
            <div class="col-md-3 col-6 customers__logo customers__logo--start">
              <img
                src="assets/img/microsoft_logo.png"
                class="customers__logo--microsoft"
                alt="image"
              />
            </div>
            <div
              class="col-md-3 col-6 customers__logo customers__logo--amplus-col"
            >
              <img
                src="assets/img/amplus_logo.png"
                class="customers__logo--amplus"
                alt="image"
              />
            </div>
            <div class="col-md-3 col-6 customers__logo mb-0">
              <img
                src="assets/img/agrosnova_logo.png"
                class="customers__logo--agrosnova"
                alt="image"
              />
            </div>
            <div
              class="col-md-3 col-6 customers__logo customers__logo--end mb-0"
            >
              <img
                src="assets/img/KOWR_logo.png"
                class="customers__logo--KOWR"
                alt="image"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
