<section class="products">
  <div class="container-fluid products--first-container">
    <div class="row">
      <div class="col-12 col-md-8">
        <h1 class="products__title">
          {{ "FOODPASS.BANNER.TITLE" | translate }}
        </h1>
        <p class="products__title-p">
          {{ "FOODPASS.BANNER.PARAGRAPH" | translate }}
        </p>
        <a class="default-btn" href="/contact">
          {{ "FOODPASS.BANNER.BUTTON" | translate }}</a
        >
      </div>
      <div
        class="col-md-4 d-none d-md-block d-xl-flex justify-content-xl-center"
      >
        <img
          class="products__banner"
          src="assets/img/Food_Pass_logo_sygnet_RGB-1.png"
          alt="Food pass sygnet"
        />
      </div>
    </div>
  </div>
</section>

<div class="products products--secondary-bg">
  <div class="container-fluid p-0 m-auto">
    <div class="row">
      <div class="col-12 col-xl-8 position-relative">
        <div
          class="container-fluid container-fluid--small products--third-container"
        >
          <div class="row">
            <div class="col-12 col-xl-10">
              <h2 class="products__title--small">
                {{ "FOODPASS.POSSIBILITIES.TITLE" | translate }}
              </h2>
              <ul class="products__list">
                <li class="products__list-item">
                  {{ "FOODPASS.POSSIBILITIES.ITEM_1" | translate }}
                </li>
                <li class="products__list-item">
                  {{ "FOODPASS.POSSIBILITIES.ITEM_2" | translate }}
                </li>
                <li class="products__list-item">
                  {{ "FOODPASS.POSSIBILITIES.ITEM_3" | translate }}
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div
          class="container-fluid container-fluid--small pt-md-0 products--fourth-container"
        >
          <div class="row">
            <div class="col-12 col-xl-10">
              <h2 class="products__title--small">
                {{ "FOODPASS.ADVANTAGES.TITLE" | translate }}
              </h2>
              <ul class="products__list mt-xl-0">
                <li class="products__list-item">
                  {{ "FOODPASS.ADVANTAGES.ITEM_1" | translate }}
                </li>
                <li class="products__list-item">
                  {{ "FOODPASS.ADVANTAGES.ITEM_2" | translate }}
                </li>
                <li class="products__list-item">
                  {{ "FOODPASS.ADVANTAGES.ITEM_3" | translate }}
                </li>
                <li class="products__list-item">
                  {{ "FOODPASS.ADVANTAGES.ITEM_4" | translate }}
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="container-fluid pb-md-0">
          <div class="row">
            <div class="col-12 col-xl-9">
              <h2 class="products__title--small">
                {{ "FOODPASS.FOR_WHO.TITLE" | translate }}
              </h2>
              <div class="row products__gray-box-row">
                <div class="col-12 col-md-6">
                  <div class="products__gray-box">
                    {{ "FOODPASS.FOR_WHO.ITEM_1" | translate }}
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="products__gray-box">
                    {{ "FOODPASS.FOR_WHO.ITEM_2" | translate }}
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="products__gray-box">
                    {{ "FOODPASS.FOR_WHO.ITEM_3" | translate }}
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="products__gray-box">
                    {{ "FOODPASS.FOR_WHO.ITEM_4" | translate }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container-fluid pt-0 container-fluid--small pb-0 d-md-none">
          <div class="row">
            <div class="col-12 col-xl-10">
              <h2 class="products__title--small">
                {{ "FOODPASS.GET_KNOW_INDUSTRY.TITLE" | translate }}
              </h2>
              <div class="row products__btn-row">
                <div class="col-12 col-md-6">
                  <a href="#" class="default-btn default-btn--border d-flex">
                    {{ "FOODPASS.GET_KNOW_INDUSTRY.ITEM_1" | translate }}
                  </a>
                </div>
                <div class="col-12 col-md-6">
                  <a href="#" class="default-btn default-btn--border d-flex">
                    {{ "FOODPASS.GET_KNOW_INDUSTRY.ITEM_2" | translate }}
                  </a>
                </div>
                <div class="col-12 col-md-6">
                  <a href="#" class="default-btn default-btn--border d-flex">
                    {{ "FOODPASS.GET_KNOW_INDUSTRY.ITEM_3" | translate }}
                  </a>
                </div>
                <div class="col-12 col-md-6">
                  <a href="#" class="default-btn default-btn--border d-flex">
                    {{ "FOODPASS.GET_KNOW_INDUSTRY.ITEM_4" | translate }}
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="products__food-pass-ilu">
          <div class="row">
            <div class="col-12 col-xl-9 d-flex justify-content-center">
              <img
                src="assets/img/food_pass_ilu.png"
                alt="Food pass ilustration"
              />
            </div>
          </div>
        </div>
        <div class="container-fluid py-0">
          <div class="row">
            <div class="col-12 col-xl-9">
              <h2 class="products__title--small">
                {{ "FOODPASS.DELIVERY_MONITORING.TITLE" | translate }}
              </h2>
              <p class="products__paragraph">
                {{ "FOODPASS.DELIVERY_MONITORING.PARAGRAPH" | translate }}
              </p>
              <div class="row products__box-row">
                <div class="col-6">
                  <div class="products__box-border">
                    <img src="assets/img/Vector-4.png" alt="icon" />
                    {{ "FOODPASS.DELIVERY_MONITORING.ITEM_1" | translate }}
                  </div>
                </div>
                <div class="col-6">
                  <div class="products__box-border">
                    <img src="assets/img/Vector-4.png" alt="icon" />
                    {{ "FOODPASS.DELIVERY_MONITORING.ITEM_2" | translate }}
                  </div>
                </div>
                <div class="col-6">
                  <div class="products__box-border">
                    <img src="assets/img/Vector-4.png" alt="icon" />
                    {{ "FOODPASS.DELIVERY_MONITORING.ITEM_3" | translate }}
                  </div>
                </div>
                <div class="col-6">
                  <div class="products__box-border">
                    <img src="assets/img/Vector-4.png" alt="icon" />
                    {{ "FOODPASS.DELIVERY_MONITORING.ITEM_4" | translate }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container-fluid pb-0">
          <div class="row">
            <div class="col-12 col-xl-10">
              <h2 class="products__title--small">
                {{ "FOODPASS.CONTRACTING_PRODUCTS.TITLE" | translate }}
              </h2>
              <p class="products__paragraph">
                {{ "FOODPASS.CONTRACTING_PRODUCTS.PARAGRAPH" | translate }}
              </p>
              <div class="row products__box-row">
                <div class="col-6">
                  <div class="products__box-border">
                    <img src="assets/img/Vector-4.png" alt="icon" />
                    <p>
                      {{ "FOODPASS.CONTRACTING_PRODUCTS.ITEM_1" | translate }}
                    </p>
                  </div>
                </div>
                <div class="col-6">
                  <div class="products__box-border">
                    <img src="assets/img/Vector-4.png" alt="icon" />
                    <p>
                      {{ "FOODPASS.CONTRACTING_PRODUCTS.ITEM_2" | translate }}
                    </p>
                  </div>
                </div>
                <div class="col-6">
                  <div class="products__box-border">
                    <img src="assets/img/Vector-4.png" alt="icon" />
                    <p>
                      {{ "FOODPASS.CONTRACTING_PRODUCTS.ITEM_3" | translate }}
                    </p>
                  </div>
                </div>
                <div class="col-6">
                  <div class="products__box-border">
                    <img src="assets/img/Vector-4.png" alt="icon" />
                    <p>
                      {{ "FOODPASS.CONTRACTING_PRODUCTS.ITEM_4" | translate }}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container-fluid pb-0">
          <div class="row">
            <div class="col-12 col-xl-10">
              <h2 class="products__title--small">
                {{ "FOODPASS.QUALITY_AND_SAFETY.TITLE" | translate }}
              </h2>
              <p class="products__paragraph">
                {{ "FOODPASS.QUALITY_AND_SAFETY.PARAGRAPH" | translate }}
              </p>
              <div class="row products__box-row">
                <div class="col-6">
                  <div class="products__box-border">
                    <img src="assets/img/Vector-4.png" alt="icon" />
                    <p>
                      {{ "FOODPASS.QUALITY_AND_SAFETY.ITEM_1" | translate }}
                    </p>
                  </div>
                </div>
                <div class="col-6">
                  <div class="products__box-border">
                    <img src="assets/img/Vector-4.png" alt="icon" />
                    <p>
                      {{ "FOODPASS.QUALITY_AND_SAFETY.ITEM_2" | translate }}
                    </p>
                  </div>
                </div>
                <div class="col-6">
                  <div class="products__box-border">
                    <img src="assets/img/Vector-4.png" alt="icon" />
                    <p>
                      {{ "FOODPASS.QUALITY_AND_SAFETY.ITEM_3" | translate }}
                    </p>
                  </div>
                </div>
                <div class="col-6">
                  <div class="products__box-border">
                    <img src="assets/img/Vector-4.png" alt="icon" />
                    <p>
                      {{ "FOODPASS.QUALITY_AND_SAFETY.ITEM_4" | translate }}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container-fluid products__last-container">
          <div class="row">
            <div class="col-12 col-xl-10">
              <h2 class="products__title--small">
                {{ "FOODPASS.INTEGRATION.TITLE" | translate }}
              </h2>
              <p class="products__paragraph">
                {{ "FOODPASS.INTEGRATION.PARAGRAPH" | translate }}
              </p>
              <div class="row products__box-row">
                <div class="col-6">
                  <div class="products__box-border">
                    <img src="assets/img/Vector-4.png" alt="icon" />
                    <p>{{ "FOODPASS.INTEGRATION.ITEM_1" | translate }}</p>
                  </div>
                </div>
                <div class="col-6">
                  <div class="products__box-border">
                    <img src="assets/img/Vector-4.png" alt="icon" />
                    <p>{{ "FOODPASS.INTEGRATION.ITEM_2" | translate }}</p>
                  </div>
                </div>
                <div class="col-6">
                  <div class="products__box-border">
                    <img src="assets/img/Vector-4.png" alt="icon" />
                    <p>{{ "FOODPASS.INTEGRATION.ITEM_3" | translate }}</p>
                  </div>
                </div>
                <div class="col-6">
                  <div class="products__box-border">
                    <img src="assets/img/Vector-4.png" alt="icon" />
                    <p>{{ "FOODPASS.INTEGRATION.ITEM_4" | translate }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-4 d-none d-xl-block products__right-container">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <div class="products__brands">
                <p class="products__paragraph--gray">
                  {{ "FOODPASS.RELATED_INDUSTRIES.TITLE" | translate }}
                </p>
                <div class="products__btn-list">
                  <a class="default-btn default-btn--border mb-3" href="#">
                    {{ "FOODPASS.RELATED_INDUSTRIES.ITEM_1" | translate }}
                  </a>
                  <a class="default-btn default-btn--border mb-3" href="#">
                    {{ "FOODPASS.RELATED_INDUSTRIES.ITEM_2" | translate }}
                  </a>
                  <a class="default-btn default-btn--border mb-3" href="#">
                    {{ "FOODPASS.RELATED_INDUSTRIES.ITEM_3" | translate }}
                  </a>
                  <a class="default-btn default-btn--border" href="#">
                    {{ "FOODPASS.RELATED_INDUSTRIES.ITEM_4" | translate }}
                  </a>
                </div>
              </div>
              <div class="products__contact-section">
                <p class="products__paragraph--gray">
                  {{ "FOODPASS.CONTACT.TITLE" | translate }}
                </p>
                <p
                  class="products__contact-section-p"
                  [innerHTML]="'FOODPASS.CONTACT.ADDRESS' | translate"
                ></p>
                <a
                  class="default-btn default-btn--border d-flex"
                  routerLink="/contact"
                >
                  {{ "FOODPASS.CONTACT.BUTTON" | translate }}
                </a>
              </div>
              <div class="products__contact-section">
                <p class="products__paragraph--gray">
                  {{ "FOODPASS.BROCHURES.TITLE" | translate }}
                </p>
                <div>
                  <div class="products__contact-link-container">
                    <a class="products__contact-link" href="#">
                      <img src="assets/img/broszura.png" alt="Broszura" />
                      {{ "FOODPASS.BROCHURES.ITEM_1" | translate }}
                    </a>
                  </div>
                  <div class="products__contact-link-container">
                    <a class="products__contact-link" href="#">
                      <img src="assets/img/broszura.png" alt="Broszura" />
                      {{ "FOODPASS.BROCHURES.ITEM_2" | translate }}
                    </a>
                  </div>
                  <div class="products__contact-link-container">
                    <a class="products__contact-link" href="#">
                      <img src="assets/img/broszura.png" alt="Broszura" />
                      {{ "FOODPASS.BROCHURES.ITEM_3" | translate }}
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <img
          class="products__dark-img-sygnet"
          src="assets/img/Food_Pass_logo_sygnet-1.png"
          alt="food pass sygnet"
        />
      </div>
    </div>
  </div>
</div>

<div class="products products--dark-bg">
  <div class="container-fluid">
    <div class="row align-items-xl-start">
      <div class="col-12 col-xl-6 products__dark-bg-title-container">
        <h2 class="products__title--small">
          {{ "FOODPASS.COOPERATION.TITLE" | translate }}
        </h2>
        <p class="products__paragraph">
          {{ "FOODPASS.COOPERATION.PARAGRAPH" | translate }}
        </p>
        <div class="row products__box-row">
          <div class="col-6">
            <div class="products__box-border products__box-border--dark">
              <img src="assets/img/vector-white.png" alt="icon" />
              <p>{{ "FOODPASS.COOPERATION.ITEM_1" | translate }}</p>
            </div>
          </div>
          <div class="col-6">
            <div class="products__box-border products__box-border--dark">
              <img src="assets/img/vector-white.png" alt="icon" />
              <p>{{ "FOODPASS.COOPERATION.ITEM_2" | translate }}</p>
            </div>
          </div>
          <div class="col-6">
            <div class="products__box-border products__box-border--dark">
              <img src="assets/img/vector-white.png" alt="icon" />
              <p>{{ "FOODPASS.COOPERATION.ITEM_3" | translate }}</p>
            </div>
          </div>
          <div class="col-6">
            <div class="products__box-border products__box-border--dark">
              <img src="assets/img/vector-white.png" alt="icon" />
              <p>{{ "FOODPASS.COOPERATION.ITEM_4" | translate }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-xl-6 products__dark-img">
        <img src="assets/img/współpraca_ilu.png" alt="icon" />
      </div>
    </div>
  </div>
</div>
<div class="products products--secondary-bg">
  <div class="container-fluid p-0">
    <div class="row">
      <div class="col-xl-8 products--secondary-bg-border">
        <div class="container-fluid products__food-pass-container">
          <img
            src="assets/img/Food_Pass_logo_granat_RGB-1.png"
            alt="Food pass ilustration"
          />
          <img
            class="products__earth-day-img d-none d-xl-block"
            src="assets/img/earth-day-1.png"
            alt="Food pass ilustration"
          />
        </div>
        <div class="container-fluid pt-0">
          <div class="row">
            <div class="col-12 col-xl-8">
              <h2 class="products__title--small">
                {{ "FOODPASS.INCREASING_WORK.TITLE" | translate }}
              </h2>
              <div class="row products__gray-box-row">
                <div class="col-12 col-md-6">
                  <div class="products__gray-box">
                    {{ "FOODPASS.INCREASING_WORK.ITEM_1" | translate }}
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="products__gray-box">
                    {{ "FOODPASS.INCREASING_WORK.ITEM_2" | translate }}
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="products__gray-box">
                    {{ "FOODPASS.INCREASING_WORK.ITEM_3" | translate }}
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="products__gray-box">
                    {{ "FOODPASS.INCREASING_WORK.ITEM_4" | translate }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container-fluid pt-0 d-xl-none">
          <div class="row">
            <div class="col-12 col-xl-6">
              <h2 class="products__title--small">
                {{ "FOODPASS.BROCHURES.DOWNLOAD" | translate }}
              </h2>
              <p class="products__paragraph">
                {{ "FOODPASS.BROCHURES.DOWNLOAD_TEXT" | translate }}
              </p>
              <ul class="products__documents">
                <li class="products__documents-item">
                  <a href="#">
                    <img src="assets/img/broszura.png" alt="Broszura" />
                    FarmPortal
                  </a>
                </li>
                <li class="products__documents-item">
                  <a href="#">
                    <img src="assets/img/broszura.png" alt="Broszura" />
                    FoodPass
                  </a>
                </li>
                <li class="products__documents-item">
                  <a href="#">
                    <img src="assets/img/broszura.png" alt="Broszura" />
                    FarmCloud
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="container-fluid pt-0 products__get-know-container">
          <div class="row">
            <div class="col-12 col-xl-8">
              <h2 class="products__title--small">
                {{ "FOODPASS.GET_KNOW.TITLE" | translate }}
              </h2>
              <div class="row products__btn-row">
                <div class="col-12 col-md-6">
                  <a
                    href="/agriculture"
                    class="default-btn default-btn--border d-flex"
                  >
                    {{ "FOODPASS.GET_KNOW.ITEM_1" | translate }}
                  </a>
                </div>
                <div class="col-12 col-md-6">
                  <a
                    href="/deployments-models"
                    class="default-btn default-btn--border d-flex"
                  >
                    {{ "FOODPASS.GET_KNOW.ITEM_2" | translate }}
                  </a>
                </div>
                <div class="col-12 col-md-6">
                  <a
                    href="/farmportal"
                    class="default-btn default-btn--border d-flex"
                  >
                    {{ "FOODPASS.GET_KNOW.ITEM_3" | translate }}
                  </a>
                </div>
                <div class="col-12 col-md-6">
                  <a
                    href="/farmcloud"
                    class="default-btn default-btn--border d-flex"
                  >
                    {{ "FOODPASS.GET_KNOW.ITEM_4" | translate }}
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="main-banner-customers">
        <div class="container-fluid container-fluid--small pt-0">
          <div class="row customers">
            <div class="col-md-3 col-6 customers__logo customers__logo--start">
              <img
                src="assets/img/microsoft_logo.png"
                class="customers__logo--microsoft"
                alt="image"
              />
            </div>
            <div
              class="col-md-3 col-6 customers__logo customers__logo--amplus-col"
            >
              <img
                src="assets/img/amplus_logo.png"
                class="customers__logo--amplus"
                alt="image"
              />
            </div>
            <div class="col-md-3 col-6 customers__logo mb-0">
              <img
                src="assets/img/agrosnova_logo.png"
                class="customers__logo--agrosnova"
                alt="image"
              />
            </div>
            <div
              class="col-md-3 col-6 customers__logo customers__logo--end mb-0"
            >
              <img
                src="assets/img/KOWR_logo.png"
                class="customers__logo--KOWR"
                alt="image"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
