<section class="about-area">
  <div class="recipients-list">
    <div class="container-fluid">
      <div class="row">
        <div class="section-title">
          <h2>Odbiorcy naszych produktów</h2>
          <p>
            Nasze produkty znajdują zastosowanie we wszystkich obszarach
            produkcji rolno - spożywczej
          </p>
        </div>
      </div>
      <div class="row justify-content-xl-center">
        <div class="col-6 col-md-3 recipients-section">
          <div class="single-recipients-box">
            <img src="assets/img/Vector-0.png" alt="icon" />
            <p>Producenci rolni</p>
          </div>
        </div>
        <div class="col-6 col-md-3 recipients-section">
          <div class="single-recipients-box">
            <img src="assets/img/Vector-5.png" alt="icon" />
            <p>Dystrybutorzy owoców i warzyw</p>
          </div>
        </div>
        <div class="col-6 col-md-3 recipients-section">
          <div class="single-recipients-box">
            <img src="assets/img/Vector-1.png" alt="icon" />
            <p>Handel i usługi</p>
          </div>
        </div>
        <div class="col-6 col-md-3 recipients-section">
          <div class="single-recipients-box">
            <img src="assets/img/Vector-6.png" alt="icon" />
            <p>Sadownicy</p>
          </div>
        </div>
        <div class="col-6 col-md-3 recipients-section">
          <div class="single-recipients-box">
            <img src="assets/img/Vector-2.png" alt="icon" />
            <p>Producenci sprzętu rolniczego</p>
          </div>
        </div>
        <div class="col-6 col-md-3 recipients-section">
          <div class="single-recipients-box">
            <img src="assets/img/Vector-7.png" alt="icon" />
            <p>Przetwórcy owoców i warzyw</p>
          </div>
        </div>
        <div class="col-6 col-md-3 recipients-section">
          <div class="single-recipients-box">
            <img src="assets/img/Vector-3.png" alt="icon" />
            <p>Ubezpieczenia</p>
          </div>
        </div>
        <div class="col-6 col-md-3 recipients-section">
          <div class="single-recipients-box">
            <img src="assets/img/Vector-8.png" alt="icon" />
            <p>Doradztwo rolne</p>
          </div>
        </div>
        <div class="col-6 col-md-3 recipients-section">
          <div class="single-recipients-box">
            <img src="assets/img/Vector-4.png" alt="icon" />
            <p>Ogrodnicy</p>
          </div>
        </div>
        <div class="col-6 col-md-3 recipients-section">
          <div class="single-recipients-box">
            <img src="assets/img/Vector-9.png" alt="icon" />
            <p>Startupy</p>
          </div>
        </div>
      </div>
      <div class="recipients-list__btn-container">
        <a class="default-btn"> <span>SPRAWDŹ SZCZEGÓŁY</span></a>
      </div>
    </div>
  </div>
  <!-- <div class="circle-shape1"><img src="assets/img/shape/circle-shape1.png" alt="image"></div> -->
</section>
