<section class="products">
  <div class="container-fluid products--first-container">
    <div class="row">
      <div class="col-12 col-md-8">
        <h1
          [innerHTML]="'FARMCLOUD.BANNER.TITLE' | translate"
          class="products__title"
        ></h1>
        <p class="products__title-p">
          {{ "FARMCLOUD.BANNER.PARAGRAPH" | translate }}
        </p>
        <a class="default-btn" href="/contact">
          {{ "FARMCLOUD.BANNER.BUTTON" | translate }}</a
        >
      </div>
      <div
        class="col-md-4 d-none d-md-block d-xl-flex justify-content-xl-center"
      >
        <img
          class="products__banner"
          src="assets/img/Farm_Cloud_logo_sygnet_RGB-3.png"
          alt="Food pass sygnet"
        />
      </div>
    </div>
  </div>
</section>

<div class="products products--secondary-bg">
  <div class="container-fluid p-0 m-auto">
    <div class="row">
      <div class="col-12 col-xl-8 position-relative">
        <div
          class="container-fluid container-fluid--small products--third-container"
        >
          <div class="row">
            <div class="col-12 col-xl-10">
              <h2 class="products__title--small">
                {{ "FARMCLOUD.POSSIBILITIES.TITLE" | translate }}
              </h2>
              <ul class="products__list">
                <li class="products__list-item">
                  {{ "FARMCLOUD.POSSIBILITIES.ITEM_1" | translate }}
                </li>
                <li class="products__list-item">
                  {{ "FARMCLOUD.POSSIBILITIES.ITEM_2" | translate }}
                </li>
                <li class="products__list-item">
                  {{ "FARMCLOUD.POSSIBILITIES.ITEM_3" | translate }}
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div
          class="container-fluid container-fluid--small pt-md-0 products--fourth-container"
        >
          <div class="row">
            <div class="col-12 col-xl-10">
              <h2 class="products__title--small">
                {{ "FARMCLOUD.ADVANTAGES.TITLE" | translate }}
              </h2>
              <ul class="products__list mt-xl-0">
                <li class="products__list-item">
                  {{ "FARMCLOUD.ADVANTAGES.ITEM_1" | translate }}
                </li>
                <li class="products__list-item">
                  {{ "FARMCLOUD.ADVANTAGES.ITEM_2" | translate }}
                </li>
                <li class="products__list-item">
                  {{ "FARMCLOUD.ADVANTAGES.ITEM_3" | translate }}
                </li>
                <li class="products__list-item">
                  {{ "FARMCLOUD.ADVANTAGES.ITEM_4" | translate }}
                </li>
                <li class="products__list-item">
                  {{ "FARMCLOUD.ADVANTAGES.ITEM_5" | translate }}
                </li>
                <li class="products__list-item">
                  {{ "FARMCLOUD.ADVANTAGES.ITEM_6" | translate }}
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="container-fluid pb-md-0">
          <div class="row">
            <div class="col-12 col-xl-9">
              <h2 class="products__title--small">
                {{ "FARMCLOUD.FOR_WHO.TITLE" | translate }}
              </h2>
              <div class="row products__gray-box-row">
                <div class="col-12 col-md-6">
                  <div class="products__gray-box">
                    {{ "FARMCLOUD.FOR_WHO.ITEM_1" | translate }}
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="products__gray-box">
                    {{ "FARMCLOUD.FOR_WHO.ITEM_2" | translate }}
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="products__gray-box">
                    {{ "FARMCLOUD.FOR_WHO.ITEM_3" | translate }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container-fluid pt-0 container-fluid--small pb-0 d-md-none">
          <div class="row">
            <div class="col-12 col-xl-10">
              <h2 class="products__title--small">
                {{ "FARMCLOUD.GET_KNOW_INDUSTRY.TITLE" | translate }}
              </h2>
              <div class="row products__btn-row">
                <div class="col-12 col-md-6">
                  <a href="#" class="default-btn default-btn--border d-flex">
                    {{ "FARMCLOUD.GET_KNOW_INDUSTRY.ITEM_1" | translate }}
                  </a>
                </div>
                <div class="col-12 col-md-6">
                  <a href="#" class="default-btn default-btn--border d-flex">
                    {{ "FARMCLOUD.GET_KNOW_INDUSTRY.ITEM_2" | translate }}
                  </a>
                </div>
                <div class="col-12 col-md-6">
                  <a href="#" class="default-btn default-btn--border d-flex">
                    {{ "FARMCLOUD.GET_KNOW_INDUSTRY.ITEM_3" | translate }}
                  </a>
                </div>
                <div class="col-12 col-md-6">
                  <a href="#" class="default-btn default-btn--border d-flex">
                    {{ "FARMCLOUD.GET_KNOW_INDUSTRY.ITEM_4" | translate }}
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="products__food-pass-ilu">
          <div class="row">
            <div class="col-12 col-xl-9 d-flex justify-content-center">
              <img
                src="assets/img/farm_cloud_ilu.png"
                alt="Food pass ilustration"
              />
            </div>
          </div>
        </div>
        <div class="container-fluid py-0">
          <div class="row">
            <div class="col-12 col-xl-9">
              <h2 class="products__title--small">
                {{ "FARMCLOUD.RELATIONS.TITLE" | translate }}
              </h2>
              <p class="products__paragraph">
                {{ "FARMCLOUD.RELATIONS.PARAGRAPH" | translate }}
              </p>
              <div class="row products__box-row">
                <div class="col-6">
                  <div class="products__box-border">
                    <img src="assets/img/Vector-4.png" alt="icon" />
                    <p>{{ "FARMCLOUD.RELATIONS.ITEM_1" | translate }}</p>
                  </div>
                </div>
                <div class="col-6">
                  <div class="products__box-border">
                    <img src="assets/img/Vector-4.png" alt="icon" />
                    <p>{{ "FARMCLOUD.RELATIONS.ITEM_2" | translate }}</p>
                  </div>
                </div>
                <div class="col-6">
                  <div class="products__box-border">
                    <img src="assets/img/Vector-4.png" alt="icon" />
                    <p>{{ "FARMCLOUD.RELATIONS.ITEM_3" | translate }}</p>
                  </div>
                </div>
                <div class="col-6">
                  <div class="products__box-border">
                    <img src="assets/img/Vector-4.png" alt="icon" />
                    <p>{{ "FARMCLOUD.RELATIONS.ITEM_4" | translate }}</p>
                  </div>
                </div>
              </div>
              <p
                class="products__paragraph products__paragraph--small d-none d-xl-block"
              >
                {{ "FARMCLOUD.RELATIONS.SMALL_PARAGRAPH" | translate }}
              </p>
            </div>
          </div>
        </div>
        <div class="container-fluid pb-0">
          <div class="row">
            <div class="col-12 col-xl-10">
              <h2 class="products__title--small">
                {{ "FARMCLOUD.SELLER.TITLE" | translate }}
              </h2>
              <p class="products__paragraph">
                {{ "FARMCLOUD.SELLER.PARAGRAPH" | translate }}
              </p>
              <div class="row products__box-row">
                <div class="col-6">
                  <div class="products__box-border">
                    <img src="assets/img/Vector-4.png" alt="icon" />
                    <p>{{ "FARMCLOUD.SELLER.ITEM_1" | translate }}</p>
                  </div>
                </div>
                <div class="col-6">
                  <div class="products__box-border">
                    <img src="assets/img/Vector-4.png" alt="icon" />
                    <p>{{ "FARMCLOUD.SELLER.ITEM_2" | translate }}</p>
                  </div>
                </div>
                <div class="col-6">
                  <div class="products__box-border">
                    <img src="assets/img/Vector-4.png" alt="icon" />
                    <p>{{ "FARMCLOUD.SELLER.ITEM_3" | translate }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container-fluid pb-0">
          <div class="row">
            <div class="col-12 col-xl-10">
              <h2 class="products__title--small">
                {{ "FARMCLOUD.CAMPANIES.TITLE" | translate }}
              </h2>
              <p class="products__paragraph">
                {{ "FARMCLOUD.CAMPANIES.PARAGRAPH" | translate }}
              </p>
              <div class="row products__box-row">
                <div class="col-6">
                  <div class="products__box-border">
                    <img src="assets/img/Vector-4.png" alt="icon" />
                    <p>{{ "FARMCLOUD.CAMPANIES.ITEM_1" | translate }}</p>
                  </div>
                </div>
                <div class="col-6">
                  <div class="products__box-border">
                    <img src="assets/img/Vector-4.png" alt="icon" />
                    <p>{{ "FARMCLOUD.CAMPANIES.ITEM_2" | translate }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container-fluid products__last-container">
          <div class="row">
            <div class="col-12 col-xl-10">
              <h2 class="products__title--small">
                {{ "FARMCLOUD.TOOLS.TITLE" | translate }}
              </h2>
              <p class="products__paragraph">
                {{ "FARMCLOUD.TOOLS.PARAGRAPH" | translate }}
              </p>
              <div class="row products__box-row">
                <div class="col-6">
                  <div class="products__box-border">
                    <img src="assets/img/Vector-4.png" alt="icon" />
                    <p>{{ "FARMCLOUD.TOOLS.ITEM_1" | translate }}</p>
                  </div>
                </div>
                <div class="col-6">
                  <div class="products__box-border">
                    <img src="assets/img/Vector-4.png" alt="icon" />
                    <p>{{ "FARMCLOUD.TOOLS.ITEM_2" | translate }}</p>
                  </div>
                </div>
                <div class="col-6">
                  <div class="products__box-border">
                    <img src="assets/img/Vector-4.png" alt="icon" />
                    <p>{{ "FARMCLOUD.TOOLS.ITEM_3" | translate }}</p>
                  </div>
                </div>
                <div class="col-6">
                  <div class="products__box-border">
                    <img src="assets/img/Vector-4.png" alt="icon" />
                    <p>{{ "FARMCLOUD.TOOLS.ITEM_4" | translate }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-4 d-none d-xl-block products__right-container">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <div class="products__brands">
                <p class="products__paragraph--gray">
                  {{ "FARMCLOUD.RELATED_INDUSTRIES.TITLE" | translate }}
                </p>
                <div class="products__btn-list">
                  <a class="default-btn default-btn--border mb-3" href="#">
                    {{ "FARMCLOUD.RELATED_INDUSTRIES.ITEM_1" | translate }}
                  </a>
                  <a class="default-btn default-btn--border mb-3" href="#">
                    {{ "FARMCLOUD.RELATED_INDUSTRIES.ITEM_2" | translate }}
                  </a>
                  <a class="default-btn default-btn--border mb-3" href="#">
                    {{ "FARMCLOUD.RELATED_INDUSTRIES.ITEM_3" | translate }}
                  </a>
                  <a class="default-btn default-btn--border" href="#">
                    {{ "FARMCLOUD.RELATED_INDUSTRIES.ITEM_4" | translate }}
                  </a>
                </div>
              </div>
              <div class="products__contact-section">
                <p class="products__paragraph--gray">
                  {{ "FARMCLOUD.CONTACT.TITLE" | translate }}
                </p>
                <p
                  class="products__contact-section-p"
                  [innerHTML]="'FARMCLOUD.CONTACT.ADDRESS' | translate"
                ></p>
                <a
                  class="default-btn default-btn--border d-flex"
                  routerLink="/contact"
                >
                  {{ "FARMCLOUD.CONTACT.BUTTON" | translate }}
                </a>
              </div>
              <div class="products__contact-section">
                <p class="products__paragraph--gray">
                  {{ "FARMCLOUD.BROCHURES.ITEM_1" | translate }}
                </p>
                <div>
                  <div class="products__contact-link-container">
                    <a class="products__contact-link" href="#">
                      <img src="assets/img/broszura.png" alt="Broszura" />
                      FoodPass
                    </a>
                  </div>
                  <div class="products__contact-link-container">
                    <a class="products__contact-link" href="#">
                      <img src="assets/img/broszura.png" alt="Broszura" />
                      FarmPortal
                    </a>
                  </div>
                  <div class="products__contact-link-container">
                    <a class="products__contact-link" href="#">
                      <img src="assets/img/broszura.png" alt="Broszura" />
                      FarmCloud
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <img
          class="products__dark-img-sygnet"
          src="assets/img/Farm_Cloud_logo_sygnet_RGB-8.png"
          alt="food pass sygnet"
        />
      </div>
    </div>
  </div>
</div>

<div class="products products--dark-bg">
  <div class="container-fluid">
    <div class="row align-items-xl-start">
      <div class="col-12 col-xl-6 products__dark-bg-title-container">
        <h2 class="products__title--small">
          {{ "FARMCLOUD.FREE_TOOLS.TITLE" | translate }}
        </h2>
        <p class="products__paragraph">
          {{ "FARMCLOUD.FREE_TOOLS.PARAGRAPH" | translate }}
        </p>
        <div class="row products__box-row">
          <div class="col-6">
            <div class="products__box-border products__box-border--dark">
              <img src="assets/img/vector-white.png" alt="icon" />
              <p>{{ "FARMCLOUD.FREE_TOOLS.ITEM_1" | translate }}</p>
            </div>
          </div>
          <div class="col-6">
            <div class="products__box-border products__box-border--dark">
              <img src="assets/img/vector-white.png" alt="icon" />
              <p>{{ "FARMCLOUD.FREE_TOOLS.ITEM_2" | translate }}</p>
            </div>
          </div>
          <div class="col-6">
            <div class="products__box-border products__box-border--dark">
              <img src="assets/img/vector-white.png" alt="icon" />
              <p>{{ "FARMCLOUD.FREE_TOOLS.ITEM_3" | translate }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-xl-6 products__dark-img">
        <img src="assets/img/współpraca_ilu.png" alt="icon" />
      </div>
    </div>
  </div>
</div>
<div class="products products--secondary-bg">
  <div class="container-fluid p-0">
    <div class="row">
      <div class="col-xl-8 products--secondary-bg-border">
        <div class="container-fluid products__food-pass-container">
          <img
            src="assets/img/Farm_Cloud_logo_granat_RGB-6.png"
            alt="Food pass ilustration"
          />
        </div>
        <div class="container-fluid pt-0">
          <div class="row">
            <div class="col-12 col-xl-8">
              <h2
                [innerHTML]="'FARMCLOUD.INCREASING_WORK.TITLE' | translate"
                class="products__title--small"
              ></h2>
              <div class="row products__gray-box-row">
                <div class="col-12 col-md-6">
                  <div
                    [innerHTML]="'FARMCLOUD.INCREASING_WORK.ITEM_1' | translate"
                    class="products__gray-box"
                  ></div>
                </div>
                <div class="col-12 col-md-6">
                  <div
                    class="products__gray-box"
                    [innerHTML]="'FARMCLOUD.INCREASING_WORK.ITEM_2' | translate"
                  ></div>
                </div>
                <div class="col-12 col-md-6">
                  <div
                    class="products__gray-box"
                    [innerHTML]="'FARMCLOUD.INCREASING_WORK.ITEM_3' | translate"
                  ></div>
                </div>
                <div class="col-12 col-md-6">
                  <div
                    class="products__gray-box"
                    [innerHTML]="'FARMCLOUD.INCREASING_WORK.ITEM_4' | translate"
                  ></div>
                </div>
                <div class="col-12 col-md-6">
                  <div
                    class="products__gray-box"
                    [innerHTML]="'FARMCLOUD.INCREASING_WORK.ITEM_5' | translate"
                  ></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container-fluid pt-0 d-xl-none">
          <div class="row">
            <div class="col-12 col-xl-6">
              <h2 class="products__title--small">
                {{ "FARMCLOUD.BROCHURES.DOWNLOAD" | translate }}
              </h2>
              <p class="products__paragraph">
                {{ "FARMCLOUD.BROCHURES.DOWNLOAD_TEXT" | translate }}
              </p>
              <ul class="products__documents">
                <li class="products__documents-item">
                  <a href="#">
                    <img src="assets/img/broszura.png" alt="Broszura" />
                    FarmPortal
                  </a>
                </li>
                <li class="products__documents-item">
                  <a href="#">
                    <img src="assets/img/broszura.png" alt="Broszura" />
                    FoodPass
                  </a>
                </li>
                <li class="products__documents-item">
                  <a href="#">
                    <img src="assets/img/broszura.png" alt="Broszura" />
                    FarmCloud
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="container-fluid pt-0 products__get-know-container">
          <div class="row">
            <div class="col-12 col-xl-8">
              <h2 class="products__title--small">
                {{ "FARMCLOUD.GET_KNOW.TITLE" | translate }}
              </h2>
              <div class="row products__btn-row">
                <div class="col-12 col-md-6">
                  <a
                    href="/agriculture"
                    class="default-btn default-btn--border d-flex"
                  >
                    {{ "FARMCLOUD.GET_KNOW.ITEM_1" | translate }}
                  </a>
                </div>
                <div class="col-12 col-md-6">
                  <a
                    href="/deployments-models"
                    class="default-btn default-btn--border d-flex"
                  >
                    {{ "FARMCLOUD.GET_KNOW.ITEM_2" | translate }}
                  </a>
                </div>
                <div class="col-12 col-md-6">
                  <a
                    href="/farmportal"
                    class="default-btn default-btn--border d-flex"
                  >
                    {{ "FARMCLOUD.GET_KNOW.ITEM_3" | translate }}
                  </a>
                </div>
                <div class="col-12 col-md-6">
                  <a
                    href="/farmcloud"
                    class="default-btn default-btn--border d-flex"
                  >
                    {{ "FARMCLOUD.GET_KNOW.ITEM_4" | translate }}
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="main-banner-customers">
        <div class="container-fluid container-fluid--small pt-0">
          <div class="row customers">
            <div class="col-md-3 col-6 customers__logo customers__logo--start">
              <img
                src="assets/img/microsoft_logo.png"
                class="customers__logo--microsoft"
                alt="image"
              />
            </div>
            <div
              class="col-md-3 col-6 customers__logo customers__logo--amplus-col"
            >
              <img
                src="assets/img/amplus_logo.png"
                class="customers__logo--amplus"
                alt="image"
              />
            </div>
            <div class="col-md-3 col-6 customers__logo mb-0">
              <img
                src="assets/img/agrosnova_logo.png"
                class="customers__logo--agrosnova"
                alt="image"
              />
            </div>
            <div
              class="col-md-3 col-6 customers__logo customers__logo--end mb-0"
            >
              <img
                src="assets/img/KOWR_logo.png"
                class="customers__logo--KOWR"
                alt="image"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
