<section class="products">
  <div class="container-fluid products--first-container">
    <div class="row">
      <div class="col-12 col-md-8">
        <h1 class="products__title">
          FarmCloud - <br />
          e-commerce <br />dla rolnictwa
        </h1>
        <p class="products__title-p">
          Skontaktuj się z nami w celu otrzymania dostępu do darmowego konta
        </p>
        <a class="default-btn" href="/contact">Zapytaj o darmowe konto</a>
      </div>
      <div
        class="col-md-4 d-none d-md-block d-xl-flex justify-content-xl-center"
      >
        <img
          class="products__banner"
          src="assets/img/Farm_Cloud_logo_sygnet_RGB-3.png"
          alt="Food pass sygnet"
        />
      </div>
    </div>
  </div>
</section>

<div class="products products--secondary-bg">
  <div class="container-fluid p-0 m-auto">
    <div class="row">
      <div class="col-12 col-xl-8 position-relative">
        <div
          class="container-fluid container-fluid--small products--third-container"
        >
          <div class="row">
            <div class="col-12 col-xl-10">
              <h2 class="products__title--small">Poznaj możliwości</h2>
              <ul class="products__list">
                <li class="products__list-item">
                  Stwórz nowe modele biznesowe oraz dystrybucji produktów i
                  usług - bądź doradcą, nie tylko sprzedawcą
                </li>
                <li class="products__list-item">
                  Poznaj bezpośrednie potrzeby klientów. Oferuj produkty i
                  usługi skrojone do ich aktualnych potrzeb
                </li>
                <li class="products__list-item">
                  Integracja z systemami CRM, sprzedaży istniejącymi w Twoim
                  przedsiębiorstwie
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div
          class="container-fluid container-fluid--small pt-md-0 products--fourth-container"
        >
          <div class="row">
            <div class="col-12 col-xl-10">
              <h2 class="products__title--small">Korzyści</h2>
              <ul class="products__list mt-xl-0">
                <li class="products__list-item">
                  Bezpośrednie ofertowanie na podstawie realnych potrzeb
                  klientów
                </li>
                <li class="products__list-item">
                  Bezpłatne wyposażenie klientów w aplikację do zarządzania
                  gospodarstwem rolnym i uprawami
                </li>
                <li class="products__list-item">
                  Zestaw narzędzi dla przedstawicieli handlowych - terenowych
                  oraz w call center
                </li>
                <li class="products__list-item">
                  Wszystkie dane klientów w jednym miejscu
                </li>
                <li class="products__list-item">
                  Targetowane kampanie reklamowe na podstawie rzeczywistych
                  danych
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="container-fluid pb-md-0">
          <div class="row">
            <div class="col-12 col-xl-9">
              <h2 class="products__title--small">Dla kogo?</h2>
              <div class="row products__gray-box-row">
                <div class="col-12 col-md-6">
                  <div class="products__gray-box">Handel i usługi</div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="products__gray-box">
                    Producenci sprzętu rolnego
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="products__gray-box">Doradztwo rolne</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container-fluid pt-0 container-fluid--small pb-0 d-md-none">
          <div class="row">
            <div class="col-12 col-xl-10">
              <h2 class="products__title--small">
                Poznaj branże, w których sprawdzi się FarmPortal
              </h2>
              <div class="row products__btn-row">
                <div class="col-12 col-md-6">
                  <a href="#" class="default-btn default-btn--border d-flex">
                    dystrybutorzy owoców i warzyw
                  </a>
                </div>
                <div class="col-12 col-md-6">
                  <a href="#" class="default-btn default-btn--border d-flex">
                    doradztwo rolne
                  </a>
                </div>
                <div class="col-12 col-md-6">
                  <a href="#" class="default-btn default-btn--border d-flex">
                    ubezpieczenia
                  </a>
                </div>
                <div class="col-12 col-md-6">
                  <a href="#" class="default-btn default-btn--border d-flex">
                    startupy
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="products__food-pass-ilu">
          <div class="row">
            <div class="col-12 col-xl-9 d-flex justify-content-center">
              <img
                src="assets/img/farm_cloud_ilu.png"
                alt="Food pass ilustration"
              />
            </div>
          </div>
        </div>
        <div class="container-fluid py-0">
          <div class="row">
            <div class="col-12 col-xl-9">
              <h2 class="products__title--small">
                Budowanie relacji z klientami
              </h2>
              <p class="products__paragraph">
                Wykorzystaj przekazane przez klientów dane* do stworzenia
                lepszych warunków współpracy, dedykowanych ofert i szybszej
                obsługi.
              </p>
              <div class="row products__box-row">
                <div class="col-6">
                  <div class="products__box-border">
                    <img src="assets/img/Vector-4.png" alt="icon" />
                    <p>Zarządzanie klientami</p>
                  </div>
                </div>
                <div class="col-6">
                  <div class="products__box-border">
                    <img src="assets/img/Vector-4.png" alt="icon" />
                    <p>Wsparcie i doradztwo</p>
                  </div>
                </div>
                <div class="col-6">
                  <div class="products__box-border">
                    <img src="assets/img/Vector-4.png" alt="icon" />
                    <p>Wymiana informacji</p>
                  </div>
                </div>
                <div class="col-6">
                  <div class="products__box-border">
                    <img src="assets/img/Vector-4.png" alt="icon" />
                    <p>Raporty i analizy</p>
                  </div>
                </div>
              </div>
              <p
                class="products__paragraph products__paragraph--small d-none d-xl-block"
              >
                *użytkownicy mają pełną kontrolę nad wymianą danych, a ich
                udostępnienie wymaga ich jednorazowej zgody
              </p>
            </div>
          </div>
        </div>
        <div class="container-fluid pb-0">
          <div class="row">
            <div class="col-12 col-xl-10">
              <h2 class="products__title--small">Świadomy sprzedawca</h2>
              <p class="products__paragraph">
                Spraw, aby Twoi handlowcy i przedstawiciele terenowi byli
                spostrzegani jako doradcy a nie sprzedawcy. Zredukuj koszty
                obsługi klienta.
              </p>
              <div class="row products__box-row">
                <div class="col-6">
                  <div class="products__box-border">
                    <img src="assets/img/Vector-4.png" alt="icon" />
                    <p>Profile klientów</p>
                  </div>
                </div>
                <div class="col-6">
                  <div class="products__box-border">
                    <img src="assets/img/Vector-4.png" alt="icon" />
                    <p>Bezpośrednie ofertowanie</p>
                  </div>
                </div>
                <div class="col-6">
                  <div class="products__box-border">
                    <img src="assets/img/Vector-4.png" alt="icon" />
                    <p>Analizy potrzeb</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container-fluid pb-0">
          <div class="row">
            <div class="col-12 col-xl-10">
              <h2 class="products__title--small">
                Targetowane kampanie reklamowe
              </h2>
              <p class="products__paragraph">
                Precyzyjnie określ grupę odbiorców produktu na podstawie
                charakteru i rodzaju produkcji. Sprzedawaj więcej zmniejszając
                nakłady pracy.
              </p>
              <div class="row products__box-row">
                <div class="col-6">
                  <div class="products__box-border">
                    <img src="assets/img/Vector-4.png" alt="icon" />
                    <p>Dobór produktów</p>
                  </div>
                </div>
                <div class="col-6">
                  <div class="products__box-border">
                    <img src="assets/img/Vector-4.png" alt="icon" />
                    <p>Określanie grupy odbiorców</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container-fluid products__last-container">
          <div class="row">
            <div class="col-12 col-xl-10">
              <h2 class="products__title--small">
                Poznaj na nowo Twoje narzędzia
              </h2>
              <p class="products__paragraph">
                FarmCloud został zaprojektowany do łatwej integracji z
                zewnętrznymi systemami informatycznymi. W bezpieczny sposób
                wspomożemy Twoją cyfrową transformacje.
              </p>
              <div class="row products__box-row">
                <div class="col-6">
                  <div class="products__box-border">
                    <img src="assets/img/Vector-4.png" alt="icon" />
                    <p>White labeling</p>
                  </div>
                </div>
                <div class="col-6">
                  <div class="products__box-border">
                    <img src="assets/img/Vector-4.png" alt="icon" />
                    <p>Instalacja na Twoich serwerach</p>
                  </div>
                </div>
                <div class="col-6">
                  <div class="products__box-border">
                    <img src="assets/img/Vector-4.png" alt="icon" />
                    <p>Integracja z systemami ERP, MRP</p>
                  </div>
                </div>
                <div class="col-6">
                  <div class="products__box-border">
                    <img src="assets/img/Vector-4.png" alt="icon" />
                    <p>Rozbudowa o dodatkowe funkcje</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-4 d-none d-xl-block products__right-container">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <div class="products__brands">
                <p class="products__paragraph--gray">
                  Branże powiązane z FarmPortal
                </p>
                <div class="products__btn-list">
                  <a class="default-btn default-btn--border mb-3" href="#">
                    dystrybutorzy owoców i warzyw
                  </a>
                  <a class="default-btn default-btn--border mb-3" href="#">
                    doradztwo rolne
                  </a>
                  <a class="default-btn default-btn--border mb-3" href="#">
                    ubezpieczenia
                  </a>
                  <a class="default-btn default-btn--border" href="#">
                    startupy
                  </a>
                </div>
              </div>
              <div class="products__contact-section">
                <p class="products__paragraph--gray">Kontakt</p>
                <p class="products__contact-section-p">
                  Ligota Wielka 34 <br />
                  56-400 Ligota Wielka <br />
                  (+48) XXX XXX XXX<br />
                  kontakt@agrisolutions.eu
                </p>
                <a class="default-btn default-btn--border d-flex" href="#">
                  napisz do nas
                </a>
              </div>
              <div class="products__contact-section">
                <p class="products__paragraph--gray">Broszury</p>
                <div>
                  <div class="products__contact-link-container">
                    <a class="products__contact-link" href="#">
                      <img src="assets/img/broszura.png" alt="Broszura" />
                      FoodPass
                    </a>
                  </div>
                  <div class="products__contact-link-container">
                    <a class="products__contact-link" href="#">
                      <img src="assets/img/broszura.png" alt="Broszura" />
                      FarmPortal
                    </a>
                  </div>
                  <div class="products__contact-link-container">
                    <a class="products__contact-link" href="#">
                      <img src="assets/img/broszura.png" alt="Broszura" />
                      FarmCloud
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <img
          class="products__dark-img-sygnet"
          src="assets/img/Farm_Cloud_logo_sygnet_RGB-8.png"
          alt="food pass sygnet"
        />
      </div>
    </div>
  </div>
</div>

<div class="products products--dark-bg">
  <div class="container-fluid">
    <div class="row align-items-xl-start">
      <div class="col-12 col-xl-6 products__dark-bg-title-container">
        <h2 class="products__title--small">
          Pakiet bezpłatnych narzędzi dla Twoich klientów
        </h2>
        <p class="products__paragraph">
          Wspomóż klientów w redukcji kosztów i strat, zwiększ ich plony.
          Podaruj im licencję programu FarmPortal. Wykorzystując współdzielenie
          danych będziesz mógł im doradzać, otrzymywać zapytania ofertowe oraz
          prowadzić kampanie reklamowe. Oczywiście za zgodą Twoich klientów.
        </p>
        <div class="row products__box-row">
          <div class="col-6">
            <div class="products__box-border products__box-border--dark">
              <img src="assets/img/vector-white.png" alt="icon" />
              <p>Bezpłatne cyfrowe narzędzia</p>
            </div>
          </div>
          <div class="col-6">
            <div class="products__box-border products__box-border--dark">
              <img src="assets/img/vector-white.png" alt="icon" />
              <p>Zarządzanie inwentarzem</p>
            </div>
          </div>
          <div class="col-6">
            <div class="products__box-border products__box-border--dark">
              <img src="assets/img/vector-white.png" alt="icon" />
              <p>Monitorowanie upraw</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-xl-6 products__dark-img">
        <img src="assets/img/współpraca_ilu.png" alt="icon" />
      </div>
    </div>
  </div>
</div>
<div class="products products--secondary-bg">
  <div class="container-fluid p-0">
    <div class="row">
      <div class="col-xl-8 products--secondary-bg-border">
        <div class="container-fluid products__food-pass-container">
          <img
            src="assets/img/Farm_Cloud_logo_granat_RGB-6.png"
            alt="Food pass ilustration"
          />
        </div>
        <div class="container-fluid pt-0">
          <div class="row">
            <div class="col-12 col-xl-12">
              <h2 class="products__title--small">
                Zwiększenie <br />
                wydajności pracy
              </h2>
              <div class="row products__gray-box-row">
                <div class="col-12 col-md-4">
                  <div class="products__gray-box">Notatki</div>
                </div>
                <div class="col-12 col-md-4">
                  <div class="products__gray-box">Szybkie kontakty</div>
                </div>
                <div class="col-12 col-md-4">
                  <div class="products__gray-box">Baza nawozów</div>
                </div>
                <div class="col-12 col-md-4">
                  <div class="products__gray-box">Wskazówki dojazdu</div>
                </div>
                <div class="col-12 col-md-4">
                  <div class="products__gray-box">Aplikacja mobilna</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container-fluid pt-0 d-xl-none">
          <div class="row">
            <div class="col-12 col-xl-6">
              <h2 class="products__title--small">Broszury do pobrania</h2>
              <p class="products__paragraph">
                Chcesz przeczytać więcej o naszych produktach? Pobierz broszury
                pdf.
              </p>
              <ul class="products__documents">
                <li class="products__documents-item">
                  <a href="#">
                    <img src="assets/img/broszura.png" alt="Broszura" />
                    FarmPortal
                  </a>
                </li>
                <li class="products__documents-item">
                  <a href="#">
                    <img src="assets/img/broszura.png" alt="Broszura" />
                    FoodPass
                  </a>
                </li>
                <li class="products__documents-item">
                  <a href="#">
                    <img src="assets/img/broszura.png" alt="Broszura" />
                    FarmCloud
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="container-fluid pt-0 products__get-know-container">
          <div class="row">
            <div class="col-12 col-xl-8">
              <h2 class="products__title--small">Dowiedz się więcej</h2>
              <div class="row products__btn-row">
                <div class="col-12 col-md-6">
                  <a href="#" class="default-btn default-btn--border d-flex">
                    Rolnictwo 4.0
                  </a>
                </div>
                <div class="col-12 col-md-6">
                  <a href="#" class="default-btn default-btn--border d-flex">
                    Modele wdrożenia
                  </a>
                </div>
                <div class="col-12 col-md-6">
                  <a href="#" class="default-btn default-btn--border d-flex">
                    FoodPass
                  </a>
                </div>
                <div class="col-12 col-md-6">
                  <a href="#" class="default-btn default-btn--border d-flex">
                    FarmCloud
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="main-banner-customers">
        <div class="container-fluid container-fluid--small pt-0">
          <div class="row customers">
            <div class="col-md-3 col-6 customers__logo customers__logo--start">
              <img
                src="assets/img/microsoft_logo.png"
                class="customers__logo--microsoft"
                alt="image"
              />
            </div>
            <div
              class="col-md-3 col-6 customers__logo customers__logo--amplus-col"
            >
              <img
                src="assets/img/amplus_logo.png"
                class="customers__logo--amplus"
                alt="image"
              />
            </div>
            <div class="col-md-3 col-6 customers__logo mb-0">
              <img
                src="assets/img/agrosnova_logo.png"
                class="customers__logo--agrosnova"
                alt="image"
              />
            </div>
            <div
              class="col-md-3 col-6 customers__logo customers__logo--end mb-0"
            >
              <img
                src="assets/img/KOWR_logo.png"
                class="customers__logo--KOWR"
                alt="image"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
