.recipients-page {
  margin-top: 90px;
  background-color: #fbf9ff;
  z-index: 1;
  position: relative;
  &__container {
    position: relative;
    @media only screen and (min-width: 1200px) {
      padding-top: 128px;
    }
  }
  &__title {
    font-size: 48px;
    font-weight: 600;
    max-width: 100px;
    @media only screen and (min-width: 1200px) {
      font-size: 72px;
      max-width: 100%;
    }
  }
  &__img {
    top: -21px;
    right: -50px;
    max-width: 242px;
    position: absolute;
    @media only screen and (min-width: 1200px) {
      max-width: 737px;
      right: 0px;
      top: 73px;
    }
  }
}
.recipients-area {
  background-color: #f6f2ff;
  .container-fluid--small {
    @media only screen and (min-width: 1200px) {
      padding-bottom: 160px;
    }
  }
  &__title {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 24px;
    max-width: 500px;
    @media only screen and (min-width: 1200px) {
      font-size: 40px;
      margin-bottom: 36px;
    }
  }
  &__paragraph {
    margin-bottom: 24px;
    font-size: 16px;
    font-weight: 400;
    color: #2b2e3f;
    @media only screen and (min-width: 1200px) {
      font-size: 20px;
      line-height: 28px;
      margin-bottom: 24px;
      max-width: 485px;
    }
  }
  &__paragraph2 {
    margin-bottom: 48px;
    font-size: 16px;
    font-weight: 400;
    color: #2b2e3f;
    @media only screen and (min-width: 1200px) {
      font-size: 20px;
      line-height: 28px;
      margin-bottom: 64px;
      max-width: 485px;
    }
  }

  .default-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid #2b2e3f;
    background-color: #f6f2ff;
    padding: 20px 30px;
    border-radius: 80px;
    margin-bottom: 16px;
    @media only screen and (min-width: 1200px) {
      padding: 25px 40px;
    }
    &:hover {
      color: #f6f2ff;
      background-color: #3a404f;
      //   cursor: pointer;
    }
  }
}
