<section class="product-page">
  <div class="container-fluid product-page__container">
    <div class="row">
      <div class="col-12 col-xl-8">
        <h1>Dołącz do grona klientów i partnerów</h1>
      </div>
      <img
        class="product-page__img"
        src="assets/img/chat-img.png"
        alt="image"
      />
    </div>
  </div>
</section>
<section class="product-area">
  <div class="container-fluid container-fluid--small">
    <div class="row">
      <div class="col-12 col-xl-5">
        <h2 class="product-area__title">Dlaczego nasze produkty?</h2>
        <p class="product-area__paragraph">
          Od 5 lat dostarczamy nowoczesne produkty technologiczne dla branży
          rolno spożywczej, tworzymy nowe modele biznesowe oraz realizujemy
          dedykowane projekty.
        </p>
        <p class="product-area__paragraph">
          Współpracujemy z największymi branżowymi podmiotami zarówno w obszarze
          R&D jak rozwoju usług.
        </p>
        <p class="product-area__paragraph">
          Porozmawiaj z nami i dowiedź się jak możemy Ci pomóc.
        </p>
        <div class="btn-box">
          <a href="/contact" class="default-btn"
            ><span>SKONTAKTUJ SIĘ Z NAMI</span></a
          >
        </div>
      </div>
      <div class="d-none d-xl-block offset-xl-1 col-xl-6 customers-desktop">
        <div class="row customers">
          <div class="col-6 customers__logo">
            <img
              src="assets/img/białe%20Microsoft_logo_2012.png"
              class="customers__logo--microsoft"
              alt="image"
            />
          </div>
          <div
            class="col-6 customers__logo justify-content-end justify-content-md-center justify-content-xl-start"
          >
            <img
              src="assets/img/biały%20amplus%20edit.png"
              class="customers__logo--amplus"
              alt="image"
            />
          </div>
          <div
            class="col-6 customers__logo justify-content-md-center justify-content-xl-start"
          >
            <img
              src="assets/img/biały%20agros_nova%20nowy%201.png"
              class="customers__logo--agros"
              alt="image"
            />
          </div>
          <div
            class="col-6 customers__logo justify-content-end justify-content-xl-center"
          >
            <img
              src="assets/img/białe_logo_KOWR.png"
              class="customers__logo--KOWR"
              alt="image"
            />
          </div>
          <div
            class="col-6 customers__logo mb-0 justify-content-md-center justify-content-xl-start"
          >
            <img
              src="assets/img/agro-logo-white.png"
              class="customers__logo--agro"
              alt="image"
            />
          </div>
          <div
            class="col-6 customers__logo mb-0 justify-content-md-center justify-content-xl-start"
          >
            <img
              src="assets/img/iung-logo-white.png"
              class="customers__logo--iung"
              alt="image"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="main-banner-customers d-xl-none">
  <div class="container-fluid">
    <div class="row customers">
      <div class="col-md-3 col-6 customers__logo">
        <img
          src="assets/img/Microsoft-logo-white.png"
          class="customers__logo--microsoft"
          alt="image"
        />
      </div>
      <div
        class="col-md-3 col-6 customers__logo justify-content-end justify-content-md-center"
      >
        <img
          src="assets/img/amplus-logo-white.png"
          class="customers__logo--amplus"
          alt="image"
        />
      </div>
      <div class="col-md-3 col-6 customers__logo justify-content-md-center">
        <img
          src="assets/img/agros-logo-white.png"
          class="customers__logo--agros"
          alt="image"
        />
      </div>
      <div class="col-md-3 col-6 customers__logo justify-content-end">
        <img
          src="assets/img/KOWR-logo-white.png"
          class="customers__logo--KOWR"
          alt="image"
        />
      </div>
      <div
        class="col-md-3 col-6 customers__logo mb-0 justify-content-md-center"
      >
        <img
          src="assets/img/agro-logo-white.png"
          class="customers__logo--agro"
          alt="image"
        />
      </div>
      <div
        class="col-md-3 col-6 customers__logo mb-0 justify-content-md-center"
      >
        <img
          src="assets/img/iung-logo-white.png"
          class="customers__logo--iung"
          alt="image"
        />
      </div>
    </div>
  </div>
</section>
<section class="partners-page">
  <div class="container-fluid container-fluid--small">
    <div class="row">
      <div class="col-xl-6 col-12">
        <h2 class="partners-page__title">Zostań partnerem</h2>
        <p class="partners-page__paragraph">
          Zwiększ sprzedaż, zoptymalizuj łańcuch dostaw, wprowadź swoje usługi i
          produkty na rynek.
        </p>
        <div class="row">
          <div class="col-6 col-md-3 col-xl-6 partners-section">
            <div class="single-partners-box">
              <img src="assets/img/Vector-0.png" alt="icon" />
              <p>Integracja produktów</p>
            </div>
          </div>
          <div class="col-6 col-md-3 col-xl-6 partners-section">
            <div class="single-partners-box">
              <img src="assets/img/Vector_sensors3.png" alt="icon" />
              <p>Szkolenia</p>
            </div>
          </div>
          <div class="col-6 col-md-3 col-xl-6 partners-section mb-xl-0">
            <div class="single-partners-box">
              <img src="assets/img/Vector_sensors4.png" alt="icon" />
              <p>Dedykowane usługi programistyczne</p>
            </div>
          </div>
          <div class="col-6 col-md-3 col-xl-6 partners-section mb-xl-0">
            <div class="single-partners-box">
              <img src="assets/img/Vector_sensors2.png" alt="icon" />
              <p>Materiały marketingowe</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-xl-6 partners-img__container">
      <img class="partners-img" src="assets/img/business-img.png" alt="image" />
    </div>
  </div>
</section>
<section class="clients-page">
  <div class="container-fluid container-fluid--small">
    <div class="row">
      <div class="col-12 col-xl-6">
        <h2 class="clients-page__title">Nasi klienci według branż</h2>
        <p class="clients-page__paragraph">
          W ramach naszej działalności obsługujemy wiele branż. Zawsze jesteśmy
          otwarci na współpracę.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-6 col-md-3 col-xl-3 clients-section">
            <div class="single-clients-box">
              <img src="assets/img/Vector-0.png" alt="icon" />
              <p>Producenci rolni</p>
            </div>
          </div>
          <div class="col-6 col-md-3 col-xl-3 clients-section">
            <div class="single-clients-box">
              <img src="assets/img/Vector-5.png" alt="icon" />
              <p>Dystrybutorzy owoców i warzyw</p>
            </div>
          </div>
          <div class="col-6 col-md-3 col-xl-3 clients-section">
            <div class="single-clients-box">
              <img src="assets/img/Vector-1.png" alt="icon" />
              <p>Handel i usługi</p>
            </div>
          </div>
          <div class="col-6 col-md-3 col-xl-3 clients-section">
            <div class="single-clients-box">
              <img src="assets/img/Vector-7.png" alt="icon" />
              <p>Przetwórcy owoców i warzyw</p>
            </div>
          </div>
          <div class="col-6 col-md-3 col-xl-3 clients-section">
            <div class="single-clients-box">
              <img src="assets/img/Vector-2.png" alt="icon" />
              <p>Producenci sprzętu rolniczego</p>
            </div>
          </div>
          <div class="col-6 col-md-3 col-xl-3 clients-section">
            <div class="single-clients-box">
              <img src="assets/img/Vector-8.png" alt="icon" />
              <p>Doradztwo rolne</p>
            </div>
          </div>
          <div class="col-6 col-md-3 col-xl-3 clients-section mb-0">
            <div class="single-clients-box">
              <img src="assets/img/Vector-3.png" alt="icon" />
              <p>Ubezpieczenia</p>
            </div>
          </div>
          <div class="col-6 col-md-3 col-xl-3 clients-section mb-0">
            <div class="single-clients-box">
              <img src="assets/img/Vector-9.png" alt="icon" />
              <p>Startupy</p>
            </div>
          </div>
        </div>
        <div class="btn-box justify-content-xl-center">
          <a href="/recipients" class="default-btn"
            ><span>ZOBACZ WIĘCEJ</span></a
          >
        </div>
      </div>
    </div>
  </div>
</section>
<section class="all-partners-area">
  <div class="container-fluid container-fluid--small">
    <div class="row">
      <div class="col-12 col-xl-6">
        <h2 class="all-partners-area__title">Wszyscy klienci i partnerzy</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-6 col-md-3 recipients-section">
        <div class="single-recipients-box">
          <img src="assets/img/Microsoft-logo2.png" alt="icon" />
        </div>
      </div>
      <div class="col-6 col-md-3 recipients-section">
        <div class="single-recipients-box">
          <img src="assets/img/NASK-logo2.png" alt="icon" />
        </div>
      </div>
      <div class="col-6 col-md-3 recipients-section">
        <div class="single-recipients-box">
          <img src="assets/img/iung-logo2.png" alt="icon" />
        </div>
      </div>
      <div class="col-6 col-md-3 recipients-section">
        <div class="single-recipients-box">
          <img src="assets/img/agros-logo2.png" alt="icon" />
        </div>
      </div>
      <div class="col-6 col-md-3 recipients-section">
        <div class="single-recipients-box">
          <img src="assets/img/agriexpert-logo2.png" alt="icon" />
        </div>
      </div>
      <div class="col-6 col-md-3 recipients-section">
        <div class="single-recipients-box">
          <img src="assets/img/agrego-logo2.png" alt="icon" />
        </div>
      </div>
      <div class="col-6 col-md-3 recipients-section">
        <div class="single-recipients-box">
          <img src="assets/img/digital-logo2.png" alt="icon" />
        </div>
      </div>
      <div class="col-6 col-md-3 recipients-section">
        <div class="single-recipients-box">
          <img src="assets/img/uni-logo2.png" alt="icon" />
        </div>
      </div>
      <div class="col-6 col-md-3 recipients-section">
        <div class="single-recipients-box">
          <img src="assets/img/favicon-logo2.png" alt="icon" />
        </div>
      </div>
      <div class="col-6 col-md-3 recipients-section">
        <div class="single-recipients-box">
          <img src="assets/img/vality-logo2.png" alt="icon" />
        </div>
      </div>
      <div class="col-6 col-md-3 recipients-section">
        <div class="single-recipients-box">
          <img src="assets/img/farmtrac-logo2.png" alt="icon" />
        </div>
      </div>
      <div class="col-6 col-md-3 recipients-section">
        <div class="single-recipients-box">
          <img src="assets/img/amplus-logo2.png" alt="icon" />
        </div>
      </div>
      <div class="col-6 col-md-3 recipients-section">
        <div class="single-recipients-box">
          <img src="assets/img/KOWR-logo2.png" alt="icon" />
        </div>
      </div>
      <div class="col-6 col-md-3 recipients-section">
        <div class="single-recipients-box">
          <img src="assets/img/instytut-logo2.png" alt="icon" />
        </div>
      </div>
      <div class="col-6 col-md-3 recipients-section">
        <div class="single-recipients-box">
          <img src="assets/img/brodowski-logo2.png" alt="icon" />
        </div>
      </div>
      <div class="col-6 col-md-3 recipients-section">
        <div class="single-recipients-box">
          <img src="assets/img/farm-logo2.png" alt="icon" />
        </div>
      </div>
      <div class="col-6 col-md-3 recipients-section">
        <div class="single-recipients-box">
          <img src="assets/img/agrosmart-logo2.png" alt="icon" />
        </div>
      </div>
      <div class="col-6 col-md-3 recipients-section">
        <div class="single-recipients-box">
          <img src="assets/img/potato-logo2.png" alt="icon" />
        </div>
      </div>
      <div class="col-6 col-md-3 recipients-section">
        <div class="single-recipients-box">
          <img src="assets/img/federacja-logo2.png" alt="icon" />
        </div>
      </div>
      <div class="col-6 col-md-3 recipients-section">
        <div class="single-recipients-box">
          <img src="assets/img/Agridata-logo2.png" alt="icon" />
        </div>
      </div>
      <div class="col-6 col-md-3 recipients-section">
        <div class="single-recipients-box">
          <img src="assets/img/ihar-logo2.png" alt="icon" />
        </div>
      </div>
      <div class="col-6 col-md-3 recipients-section">
        <div class="single-recipients-box">
          <img src="assets/img/unnamed-logo2.png" alt="icon" />
        </div>
      </div>
    </div>
  </div>
</section>
