<section class="recipients-page">
  <div class="container-fluid recipients-page__container">
    <div class="row">
      <div class="col-12 col-xl-8">
        <h1 class="recipients-page__title">Odbiorcy naszych produktów</h1>
        <img
          class="recipients-page__img"
          src="assets/img/recipients-page.png"
          alt="image"
        />
      </div>
    </div>
  </div>
</section>
<section class="recipients-area">
  <div class="container-fluid container-fluid--small">
    <div class="row">
      <div class="col-12 col-xl-6">
        <h2 class="recipients-area__title">Znajdź swoją branżę</h2>
        <p class="recipients-area__paragraph">
          Produkcja rolno-spożywcza jest siecią powiązań między wieloma
          podmiotami począwszy od rolników, firmy handlowo-usługowe, koncerny
          chemiczne, kończąc na konsumentach.
        </p>
        <p class="recipients-area__paragraph2">
          Dostępne w naszej ofercie produkty umożliwiają lepszą współpracę
          pomiędzy podmiotami działającymi w produkcji rolno-spożywczej poprzez
          budowanie relacji biznesowych, optymalizacje procesowe i produktowe,
          tworzenie nowych modeli biznesowych, wymianę informacji oraz skracanie
          łańcucha dostaw.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-xl-7 d-xl-flex flex-xl-wrap ps-xl-0">
        <div class="btn-box">
          <a class="default-btn"><span>PRODUCENCI ROLNI</span></a>
        </div>
        <div class="btn-box ms-xl-2">
          <a class="default-btn"><span>STARTUPY</span></a>
        </div>
        <div class="btn-box ms-xl-2">
          <a class="default-btn"><span>UBEZPIECZENIA</span></a>
        </div>
        <div class="btn-box ms-xl-2">
          <a class="default-btn"><span>HANDEL I USŁUGI</span></a>
        </div>
        <div class="btn-box ms-xl-2">
          <a class="default-btn"><span>DYSTRYBUTORZY OWOCÓW I WARZYW</span></a>
        </div>
        <div class="btn-box ms-xl-2">
          <a class="default-btn"><span>PRODUCENCI SPRZĘTU ROLNEGO</span></a>
        </div>
        <div class="btn-box ms-xl-2">
          <a class="default-btn"><span>DORADZTWO ROLNE</span></a>
        </div>
        <div class="btn-box ms-xl-2">
          <a class="default-btn"><span>PRZETWÓRCY OWOCÓW I WARZYW</span></a>
        </div>
      </div>
    </div>
  </div>
</section>
