<section class="solutions-area">
  <div class="container-fluid">
    <div class="section-title">
      <h2>{{ "LANDINGPAGE.SOLUTIONS.TITLE" | translate }}</h2>
      <p>
        {{ "LANDINGPAGE.SOLUTIONS.PARAGRAPH" | translate }}
      </p>
    </div>
  </div>

  <div class="product-list">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-md-6 col-lg-4 col-xl-12 product-list-section">
          <div class="single-solutions-box single-solutions-box--green">
            <img
              src="../../../../../assets/img/Food_Pass_logo.png"
              alt="image"
              class="img-logo-Food"
            />
            <img
              src="../../../../../assets/img/Vector_product.png"
              alt="image"
              class="img-vector-food"
            />
            <img
              src="../../../../../assets/img/eco_plant.png"
              alt="image"
              class="img-icon-plant"
            />
            <blockquote>
              <p>
                {{ "LANDINGPAGE.SOLUTIONS.FOODPASS.TEXT" | translate }}
              </p>
              <ul>
                <li>
                  {{ "LANDINGPAGE.SOLUTIONS.FOODPASS.ITEM_1" | translate }}
                </li>
                <li>
                  {{ "LANDINGPAGE.SOLUTIONS.FOODPASS.ITEM_2" | translate }}
                </li>
                <li>
                  {{ "LANDINGPAGE.SOLUTIONS.FOODPASS.ITEM_3" | translate }}
                </li>
                <li>
                  {{ "LANDINGPAGE.SOLUTIONS.FOODPASS.ITEM_4" | translate }}
                </li>
              </ul>
              <a routerLink="/foodpass" class="default-btn default-btn--orange"
                ><span>{{
                  "LANDINGPAGE.SOLUTIONS.BUTTON" | translate
                }}</span></a
              >
            </blockquote>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 col-xl-12 product-list-section">
          <div
            class="single-solutions-box single-solutions-box--orange single-solutions-box--right"
          >
            <img
              src="../../../../../assets/img/Farm_Portal_logo.png"
              alt="image"
              class="img-logo-Farm"
            />
            <img
              src="../../../../../assets/img/Vector_farmportal.png"
              alt="image"
              class="img-vector-farm"
            />
            <img
              src="../../../../../assets/img/smart_farm.png"
              alt="image"
              class="img-icon-farm"
            />
            <blockquote>
              <p>
                {{ "LANDINGPAGE.SOLUTIONS.FARMPORTAL.TEXT" | translate }}
              </p>
              <ul>
                <li>
                  {{ "LANDINGPAGE.SOLUTIONS.FARMPORTAL.ITEM_1" | translate }}
                </li>
                <li>
                  {{ "LANDINGPAGE.SOLUTIONS.FARMPORTAL.ITEM_2" | translate }}
                </li>
                <li>
                  {{ "LANDINGPAGE.SOLUTIONS.FARMPORTAL.ITEM_3" | translate }}
                </li>
                <li>
                  {{ "LANDINGPAGE.SOLUTIONS.FARMPORTAL.ITEM_4" | translate }}
                </li>
              </ul>

              <a
                routerLink="/farmportal"
                class="default-btn default-btn--orange"
              >
                <span>{{ "LANDINGPAGE.SOLUTIONS.BUTTON" | translate }}</span></a
              >
            </blockquote>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 col-xl-12 product-list-section">
          <div class="single-solutions-box single-solutions-box--purple">
            <img
              src="../../../../../assets/img/Farm_Cloud_logo.png"
              alt="image"
              class="img-logo-Cloud"
            />
            <img
              src="../../../../../assets/img/Vector_farmcloud.png"
              alt="image"
              class="img-vector-farmcloud"
            />
            <img
              src="../../../../../assets/img/cloud_data.png"
              alt="image"
              class="img-icon-cloud"
            />
            <blockquote>
              <p>
                {{ "LANDINGPAGE.SOLUTIONS.FARMCLOUD.TEXT" | translate }}
              </p>
              <ul>
                <li>
                  {{ "LANDINGPAGE.SOLUTIONS.FARMCLOUD.ITEM_1" | translate }}
                </li>
                <li>
                  {{ "LANDINGPAGE.SOLUTIONS.FARMCLOUD.ITEM_2" | translate }}
                </li>
                <li>
                  {{ "LANDINGPAGE.SOLUTIONS.FARMCLOUD.ITEM_3" | translate }}
                </li>
                <li>
                  {{ "LANDINGPAGE.SOLUTIONS.FARMCLOUD.ITEM_4" | translate }}
                </li>
              </ul>
              <a
                routerLink="/farmcloud"
                class="default-btn default-btn--orange"
              >
                <span>{{ "LANDINGPAGE.SOLUTIONS.BUTTON" | translate }}</span></a
              >
            </blockquote>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
