<div class="main-banner">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-7 col-md-10">
        <div
          class="main-banner-content"
          *ngFor="let Content of mainBannerContent"
        >
          <h1>{{ "LANDINGPAGE.BANNER.TITLE" | translate }}</h1>
          <p class="main-banner-content__paragraph">
            {{ "LANDINGPAGE.BANNER.PARAGRAPH" | translate }}
          </p>
          <div class="btn-box">
            <a class="default-btn"
              ><span> {{ "LANDINGPAGE.BANNER.BUTTON" | translate }}</span></a
            >
          </div>
        </div>
      </div>
      <img
        class="main-banner-img"
        src="assets/img/main_banner.png"
        alt="image"
      />
      <img class="vector-img" src="assets/img/Vector.png" alt="image" />
    </div>
  </div>
</div>

<div class="main-banner-customers">
  <div class="container-fluid">
    <div class="row customers">
      <div class="col-md-3 col-6 customers__logo customers__logo--start">
        <img
          src="assets/img/microsoft_logo.png"
          class="customers__logo--microsoft"
          alt="image"
        />
      </div>
      <div class="col-md-3 col-6 customers__logo customers__logo--amplus-col">
        <img
          src="assets/img/amplus_logo.png"
          class="customers__logo--amplus"
          alt="image"
        />
      </div>
      <div class="col-md-3 col-6 customers__logo mb-0">
        <img
          src="assets/img/agrosnova_logo.png"
          class="customers__logo--agrosnova"
          alt="image"
        />
      </div>
      <div class="col-md-3 col-6 customers__logo customers__logo--end mb-0">
        <img
          src="assets/img/KOWR_logo.png"
          class="customers__logo--KOWR"
          alt="image"
        />
      </div>
    </div>
  </div>
</div>

<div class="key-features-banner">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-7 col-md-10">
        <div class="key-features-content">
          <h1>{{ "LANDINGPAGE.POSSIBILITIES.TITLE" | translate }}</h1>
          <p class="key-features-banner__main-paragraph">
            {{ "LANDINGPAGE.POSSIBILITIES.PARAGRAPH" | translate }}
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6 col-xl-3 key-feature">
        <img src="assets/img/Vector_features.png" alt="image" />
        <img src="assets/img/Vector_1.png" class="icon-features" />
        <span class="key-feature__number"> 1 </span>
        <blockquote>
          <h2>
            {{
              "LANDINGPAGE.POSSIBILITIES.KEYFEATURES.FIRST.TITLE" | translate
            }}
          </h2>
          <p>
            {{
              "LANDINGPAGE.POSSIBILITIES.KEYFEATURES.FIRST.PARAGRAPH"
                | translate
            }}
          </p>
        </blockquote>
      </div>
      <div class="col-sm-12 col-md-6 col-xl-3 key-feature">
        <img src="assets/img/Vector_features.png" alt="image" />
        <img src="assets/img/Vector_2.png" class="icon-features" />
        <span class="key-feature__number"> 2 </span>
        <blockquote>
          <h2>
            {{
              "LANDINGPAGE.POSSIBILITIES.KEYFEATURES.SECOND.TITLE" | translate
            }}
          </h2>
          <p>
            {{
              "LANDINGPAGE.POSSIBILITIES.KEYFEATURES.SECOND.PARAGRAPH"
                | translate
            }}
          </p>
        </blockquote>
      </div>
      <div class="col-sm-12 col-md-6 col-xl-3 key-feature">
        <img src="assets/img/Vector_features.png" alt="image" />
        <img src="assets/img/Vector_3.png" class="icon-features" />
        <span class="key-feature__number"> 3 </span>
        <blockquote class="mb-md-0">
          <h2>
            {{
              "LANDINGPAGE.POSSIBILITIES.KEYFEATURES.THIRD.TITLE" | translate
            }}
          </h2>
          <p>
            {{
              "LANDINGPAGE.POSSIBILITIES.KEYFEATURES.THIRD.PARAGRAPH"
                | translate
            }}
          </p>
        </blockquote>
      </div>
      <div class="col-sm-12 col-md-6 col-xl-3 key-feature">
        <img src="assets/img/Vector_features.png" alt="image" />
        <img src="assets/img/Vector_4.png" class="icon-features" />
        <span class="key-feature__number"> 4 </span>
        <blockquote class="mb-0">
          <h2>
            {{
              "LANDINGPAGE.POSSIBILITIES.KEYFEATURES.FOURTH.TITLE" | translate
            }}
          </h2>
          <p>
            {{
              "LANDINGPAGE.POSSIBILITIES.KEYFEATURES.FOURTH.PARAGRAPH"
                | translate
            }}
          </p>
        </blockquote>
      </div>
    </div>
  </div>
</div>
