<section class="products">
  <div class="container-fluid products--first-container">
    <div class="row">
      <div class="col-12 col-md-8">
        <h1 class="products__title">Modele wdrożenia</h1>
      </div>
    </div>
  </div>
  <img
    class="products__banner"
    src="assets/img/title_section_ilu.png"
    alt="Food pass sygnet"
  />
</section>

<div class="products products--secondary-bg">
  <div class="container-fluid container-fluid--small">
    <div class="row">
      <div class="col-12 col-md-12 col-xl-5">
        <h2 class="products__title--small">
          Dopasuj produkty do swoich potrzeb
        </h2>
        <p class="products__paragraph">
          Chcesz po prostu zacząć korzystać z naszych produktów czy potrzebujesz
          dedykowanego rozwiązania, które dowolnie zaadaptujesz? Poznaj dwa
          modele wdrożenia dopasowane do Twoich potrzeb:
        </p>
      </div>
    </div>
    <div class="row key-feature__row">
      <div class="col-12 col-md-6 col-xl-4 key-feature">
        <img src="assets/img/Vector_features.png" alt="image" />
        <img src="assets/img/modele/Vector.png" class="icon-features" />
        <span class="key-feature__number"> 1 </span>
        <blockquote>
          <h2>Model <br />SaaS</h2>
          <p>
            Wystarczy, że się zarejestrujesz lub po prostu zalogujesz się kontem
            Twojej organizacji.
          </p>
          <p>
            Zacznij korzystać z dostępnych bogatych funkcji, raportów i analiz w
            60 sekund.
          </p>
        </blockquote>
      </div>
      <div class="col-12 col-md-6 offset-xl-1 col-xl-4 key-feature">
        <img src="assets/img/Vector_features.png" alt="image" />
        <img src="assets/img/modele/Vector-1.png" class="icon-features" />
        <span class="key-feature__number"> 2 </span>
        <blockquote>
          <h2>Dedykowana instalacja</h2>
          <p>
            Zainstaluj, obranduj i rozbuduj nasze produkty dla Twoich
            specyficznych wymagań.
          </p>
          <p>
            Produkty będą zainstalowane na Twoich serwerach, dostosowane do
            Twojego modelu operacyjnego.
          </p>
        </blockquote>
      </div>
    </div>
  </div>
</div>

<div class="products products--dark-bg">
  <div class="container-fluid container-fluid--small pb-0 container-fluid-sass">
    <div class="row align-items-xl-start flex-xl-row-reverse">
      <div class="col-12 col-xl-7 products__dark-bg-title-container">
        <h2 class="products__title--small">Model SaaS</h2>
        <p class="products__paragraph">
          Zacznij korzystać z produktów FarmCloud, FarmPortal, FoodPass za
          jednym kliknięciem.
        </p>
        <div class="row products__gray-box-row products__gray-box-row--dark">
          <div class="col-12 col-md-6">
            <div class="products__gray-box products__gray-box--dark">
              Załóż konto i zacznij korzystać
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="products__gray-box products__gray-box--dark">
              Przeprowadzimy dla Ciebie szkolenia
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="products__gray-box products__gray-box--dark">
              Nikomu nie udostępnimy danych
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="products__gray-box products__gray-box--dark">
              Przygotujemy materiały marketingowe
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-xl-5 products__dark-img">
        <img src="assets/img/workflow.png" alt="icon" />
      </div>
    </div>
  </div>
  <div class="container-fluid container-fluid--small py-0 container-fluid-sass">
    <div class="row align-items-xl-start flex-xl-row-reverse">
      <div class="col-12 col-xl-7 products__dark-bg-title-container">
        <h2 class="products__title--small">Dedykowana instalacja</h2>
        <p class="products__paragraph">
          Dedykowana instalacja umożliwia wdrożenie dowolnego produktu tylko dla
          Twojego przedsiębiorstwa.
        </p>
        <div class="row products__gray-box-row products__gray-box-row--dark">
          <div class="col-12 col-md-6">
            <div class="products__gray-box products__gray-box--dark">
              Dostosujemy produkt pod Twoje potrzeby
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="products__gray-box products__gray-box--dark">
              Zintegrujemy produkt z ERP, MRP, CRM
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="products__gray-box products__gray-box--dark">
              Rozbudujemy produkt o dedykowane moduły
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="products__gray-box products__gray-box--dark">
              Wdrożymy Twój branding i identyfikację wizualną
            </div>
          </div>
        </div>
      </div>
      <div
        class="col-12 col-xl-5 products__dark-img products__dark-img-second d-flex justify-content-center"
      >
        <img src="assets/img/computer-setting 1.png" alt="icon" />
      </div>
    </div>
  </div>
</div>

<div class="products products--secondary-bg">
  <div
    class="container-fluid container-fluid--small pb-0 container-fluid--licence"
  >
    <div class="row align-items-xl-start">
      <div class="col-12 col-xl-6 products__dark-bg-title-container">
        <h2 class="products__title--small">
          Darmowe licencje dla organizacji non profit
        </h2>
        <p class="products__paragraph">
          Pomagamy organizacjom nonprofit rozwijać kompetencje kadry, uczniów
          oraz pracowników.
        </p>
        <div class="row products__gray-box-row">
          <div class="col-12 col-md-6">
            <div class="products__gray-box">
              Uczelnie oraz technika rolnicze
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="products__gray-box">Instytucje badawcze</div>
          </div>
          <div class="col-12 col-md-6">
            <div class="products__gray-box">Fundacje non-profit</div>
          </div>
        </div>
        <div class="btn-box">
          <a class="default-btn">Zobacz więcej</a>
        </div>
      </div>
      <div class="col-12 col-xl-6 products__dark-img products__dark-img-graph">
        <img src="assets/img/graph.png" alt="icon" />
      </div>
    </div>
  </div>
</div>

<div class="products products--dark-bg products--last-container">
  <div class="container-fluid container-fluid--small">
    <div class="row align-items-xl-start">
      <div class="col-12 col-xl-6 products__dark-bg-title-container">
        <h2 class="products__title--small">Masz pytania i wątpliwości?</h2>
        <p class="products__paragraph">
          Nie wiesz jaki model wdrożenia jest najlepszy dla Ciebie? Rozpoczynasz
          projekt, transformacje lub jesteś dużym przedsiębiorstwem? Posiadasz
          już systemy ERP, MRP, CRM i chciałbyś zintegrować rozwiązania?
          Skontaktuj się z nami, a zastanowimy się wspólnie.
        </p>
        <div class="btn-box">
          <a href="/contact" class="default-btn default-btn--orange"
            >Napisz do nas</a
          >
        </div>
      </div>
      <div
        class="col-12 col-xl-6 d-xl-flex justify-content-xl-center d-none d-xl-block"
      >
        <img src="assets/img/questions_ilu.png" alt="icon" />
      </div>
    </div>
  </div>
</div>
