<div class="main-banner">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-7 col-md-10">
                <div class="main-banner-content" *ngFor="let Content of mainBannerContent;">
                    <h1> Cyfrowe produkty dla branży rolno-spożywczej</h1>
                    <p> Nowoczesne rozwiązania zwiększające rentowność produkcji rolno - spożywczej</p>
                    <div class="btn-box">
                        <a class="default-btn"><span>SPRAWDŹ WIĘCEJ</span></a>
                    </div>
                </div>
            </div>
                <img class="main-banner-img" src="assets/img/main_banner.png" alt="image">
                <img class="vector-img" src="assets/img/Vector.png" alt="image">
        </div>
    </div>
</div>

<div class="main-banner-customers">
    <div class="container-fluid">
        <div class="row customers">
                <div class="col-md-3 col-6 customers__logo customers__logo--start">
                    <img src="assets/img/microsoft_logo.png" class= "customers__logo--microsoft"  alt="image">
                </div>
                <div class="col-md-3 col-6 customers__logo customers__logo--amplus-col">
                    <img src="assets/img/amplus_logo.png" class= "customers__logo--amplus" alt="image">
                </div>
                <div class="col-md-3 col-6 customers__logo mb-0">
                    <img src="assets/img/agrosnova_logo.png" class= "customers__logo--agrosnova" alt="image">
                </div>
                <div class="col-md-3 col-6 customers__logo customers__logo--end mb-0">
                    <img src="assets/img/KOWR_logo.png" class= "customers__logo--KOWR" alt="image">
                </div>        
        </div> 
    </div>
</div>

<div class="key-features-banner">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-7 col-md-10">
                <div class="key-features-content">
                        <h1> Poznaj możliwości </h1>
                        <p class="key-features-banner__main-paragraph"> 
                            Zintegrowane produkty wspierające procesy monitorowania, kontroli, optymalizacji produkcji oraz dystrybucji produktów i usług.
                        </p>
                 </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-3 key-feature">
                <img src="assets/img/Vector_features.png" alt="image">
                <img src="assets/img/Vector_1.png" class="icon-features">

                    <blockquote>
                        <h2> Kontrola <br> łańcucha dostaw </h2> 
                        <p>
                            Zabezpieczenie współpracy z dostawcami, monitoring realizacji kontraktów, zapewnienie jakości surowców. 
                        </p>
                    </blockquote>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3 key-feature">
                <img src="assets/img/Vector_features.png" alt="image">
                <img src="assets/img/Vector_2.png" class="icon-features">

                    <blockquote>
                        <h2> Handel i <br> marketing </h2>
                        <p>
                            Budowanie nowych cyfrowych kanałów dystrybucji produktów oraz usług dla rolnictwa. Kampanie marketingowe oraz wsparcie sprzedaży. 
                        </p>
                    </blockquote>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3 key-feature">
                <img src="assets/img/Vector_features.png" alt="image">
                <img src="assets/img/Vector_3.png" class="icon-features">

                    <blockquote class="mb-md-0">

                        <h2> Optymalizacja <br> produkcji rolnej </h2> 
                        <p>
                            Zarządzanie gospodarstwem rolnym oraz monitorowanie upraw za pomocą telemetrii. 
                        </p>
                    </blockquote>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3 key-feature">
                <img src="assets/img/Vector_features.png" alt="image">
                <img src="assets/img/Vector_4.png" class="icon-features">

                    <blockquote class="mb-0">
                        <h2> Elastyczność i <br> integracja </h2>
                        <p>
                            Możliwość dowolnej rozbudowy i konfiguracji produktów oraz integracji systemów informatycznych. 
                        </p>
                    </blockquote>
            </div>
        </div>
    </div>
</div>
