<div class="main-banner">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-5 col-md-12">
                <div class="main-banner-content" *ngFor="let Content of mainBannerContent;">
                    <h1> Cyfrowe produkty dla branży rolno-spożywczej</h1>
                    <p> Nowoczesne rozwiązania zwiększające rentowność produkcji rolno - spożywczej</p>
                    <div class="btn-box">
                        <a class="default-btn"><span>SPRAWDŹ WIĘCEJ</span></a>
                </div>
            </div>
        </div>
        <div class="col-lg-7 col-md-12 main-banner-col" >
                <img class="main-banner-img" src="assets/img/main_banner.png" alt="image">
                <img class="vector-img" src="assets/img/Vector.png" alt="image">
        </div>
    </div>
</div>