.main-banner {
    position: relative;
    overflow: hidden;
    z-index: 1;
    background: {
        color: #FBF9FF;
        position: bottom center;
        size: cover;
        repeat: no-repeat;
    };
     .container-fluid {
        padding-top: 284px;
     }

    &.without-banner-animation {
        padding: {
            top: 200px;
            bottom: 250px;
        };
        .main-banner-content {
            margin-top: 0;
        }
    }
}
.main-banner-customers {
    .container-fluid {
        padding: 50px 24px;
    }
    @media only screen and (min-width: 768px) {
        background-color: #FBF9FF;        
        align-items: center;
    }

}
.main-banner-content {
    margin-top: -50px;

    h1 {
        font-size: 31px;
        margin: {
            bottom: 18px;
            top: -10px;
        }
        text-align: left;
    }
    .btn-box {
        margin-top: 48px;
        .video-btn {
            position: absolute;
            display: inline-block;
            text-transform: uppercase;
            color: var(--mainColor);
            font: {
                size: 16px;
                weight: 700;
            };
            margin: {
                top: -3px;
                left: 30px;
            };
            i {
                width: 55px;
                height: 55px;
                line-height: 56px;
                box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .10);
                display: inline-block;
                text-align: center;
                border-radius: 50%;
                background-color: var(--whiteColor);
                font-size: 20px;
                margin-right: 5px;
                transition: var(--transition);
            }
            &:hover {
                i {
                    background-color: var(--mainColor);
                    color: var(--whiteColor);
                }
            }
        }
    }
}
.main-banner-col {
    position: relative;
}
.main-banner-img {
    max-width: 477px;
    width: auto;
    position: absolute;
    top: -30px;
    right: -246px;
    
    @media only screen and (min-width: 1200px) {
        display: block;
        max-width: 800px;
        top: 225px;
        right: 0;
    }
    

}
.vector-img {
    max-width: 305px;
    position: absolute;
    z-index: -1;
    top: 103px;
    right: -23px;
    @media only screen and (min-width: 1200px) {
        display: block;    
        top: 230px;
        right: 0;
    }
}
.customers {


    &__logo {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        @media only screen and (min-width: 768px) {
            margin-bottom: 0;
        }
        @media only screen and (min-width: 1200px) {
            margin-bottom: 0;
            justify-content: center;
        }

        &--start {
                justify-content: start;  
        }
        &--end {
                justify-content: end;  
            @media only screen and (min-width: 768px){
                    justify-content: center;
                }
            @media only screen and (min-width: 1200px) {
                justify-content: end;
            }
        }
        &--microsoft {
            @media only screen and (max-width: 767px){
                max-width: 166px;
                max-height: 34px;
            }
            @media only screen and (min-width: 1200px) {
                max-width: 183px;
                max-height: 39px;
            }
        }
        &--amplus {
            @media only screen and (max-width: 767px) {
                max-width: 122px;
                max-height: 35px;
            }
            @media only screen and (min-width: 1200px) {
                max-width: 213px;
                max-height: 63px;
            }
        }
        &--agrosnova{
            @media only screen and (max-width: 767px) {
                max-width: 173px;
                max-height: 40px;
            }
            @media only screen and (min-width: 1200px) {
                max-width: 228px;
                max-height: 51px;
            }
        }    
        &--KOWR{
            max-width: 86.4px;
            max-height: 52px;
            @media only screen and (min-width: 1200px) {
                max-width: 147px;
                max-height: 88px;
            }
        }
        &--amplus-col {
            justify-content: flex-end;
            @media only screen and (min-width: 1200px) {
                justify-content: center;
            }
        }
    }
}

.key-features-banner {
    background-color: #FBF9FF;

    @media only screen and (min-width: 1200px) {
       background-color: #F6F2FF;
    } 
    align-items: center;
        h1 {
            font-size: 32px;
            text-align: left; 
            margin-bottom: 24px; 
            @media only screen and (min-width: 1200px) {
                font-size: 56px;
                margin-bottom: 36px;
            }       
         }
         &__main-paragraph {
            margin-bottom: 72px;
            @media only screen and (min-width: 1200px) {
                font-size: 24px;
                margin-bottom: 130px;
            }
         }

    .key-feature {
        position: relative;
        margin-bottom: 48px;
        @media only screen and (min-width: 1200px) {
            margin-bottom: 0;
        }
            h2 {
                font-size: 20px;
                font-weight: 500;
                margin-bottom: 24px;
                @media only screen and (min-width: 1200px){
                    z-index: 1;
                    font-size: 24px;
                    font-weight: 600;
                }
            }
            
            p {
                font-size: 16px;
                font-weight: 400;
                @media only screen and (min-width: 1200px){
                    z-index: 1;
                    font-size: 20px;
                }
            }

            blockquote {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding: 34px 24px 40px 34px;
                max-width: 327px;
                height: 100%;
                box-shadow: 4px 4px 32px 4px rgba(0, 0, 0, 0.08);
                border-top-left-radius: 56px;
                @media only screen and (min-width: 1200px) {
                    max-width: 252px;
                    margin-bottom: 0;
                    padding-top: 100px;
                }
            }
            img {
                position: absolute;
                right: 53px;
                right: 16px;
                top: -38px;
                @media only screen and (min-width: 1200px) {
                    left: 24px;
                    width: 168px;
                    top: -18px;
                }

            }
        .icon-features {
            width: 48px;
            top: -6px;
            right: 27px;

            @media only screen and (min-width: 1200px) {
                width: 52px;
                left: 80px;
                top: 32px;
            }
        }
    }
} 

    @media only screen and (max-width: 767px) {

        .main-banner {
            // margin-bottom: 60px;

            .container-fluid {
                max-width: 100%;
            }
        }
        .main-banner-customers {
            background-color: #DBD9E1;
            align-items: center;

        }
        .main-banner-content {
            margin-top: 0;
            text-align: center;

            h1 {
                font-size: 48px;
                margin: {
                    bottom: 15px;
                    top: -5px;
                };
                line-height: 58px;
            }
            .btn-box {
                margin: {
                    top: 25px;
                    bottom: -10px;
                };
                // .video-btn {
                //     position: relative;
                //     font-size: 14px;
                //     top: -10px;
                //     margin: {
                //         top: 0;
                //         left: 10px;
                //     };
                //     i {
                //         width: 40px;
                //         height: 40px;
                //         line-height: 40px;
                //         font-size: 15px;
                //         margin-right: 4px;
                //     }
                // }
            }
        }
        // .main-banner-animation-image {
        //     text-align: center;
        //     width: auto;
        //     height: auto;
        //     margin-top: 55px;
        // }
        .main-banner-image {
            margin-top: 55px;
        }
}


@media only screen and (min-width: 576px) and (max-width: 767px) {

    .main-banner {
        .container-fluid {
            max-width: 540px;
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {

    .main-banner-content {
        text-align: center;
        margin: {
            top: 0;
            left: auto;
            right: auto;
        };
        h1 {
            font-size: 45px;
            margin: {
                bottom: 24px;
                top: -7px;
            };
        }
        p {
            max-width: 520px;
            margin: {
                left: 0;
                right: auto;
            };
        }
        .btn-box {
            margin: {
                top: 30px;
                bottom: -10px;
            };
            .video-btn {
                font-size: 15px;
                position: relative;
                top: -11px;
                margin: {
                    top: 0;
                    left: 20px;
                };
            }
        }
    }
    .main-banner-animation-image {
        width: auto;
        text-align: center;
        height: auto;
        margin-top: 55px;

        img {
            position: relative;

            &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4), &:nth-child(5), &:nth-child(6), &:nth-child(7), &:nth-child(8), &:nth-child(9), &:nth-child(10), &:nth-child(11), &:nth-child(12) {
                display: none;
            }
            &:last-child {
                display: inline-block;
            }
        }
    }
    .main-banner-image {
        margin-top: 55px;
    }

}

@media only screen and (min-width: 992px) and (max-width: 1199px) {

    .main-banner {
        .row {
            align-items: center !important;

            .col-lg-5, .col-lg-7 {
                flex: 0 0 50%;
                max-width: 50%;
            }
        }
        &.without-banner-animation {
            padding: {
                top: 220px;
                bottom: 200px;
            };
        }
    }
    .main-banner-content {
        margin-top: 0;

        h1 {
            font-size: 48px;
            margin: {
                bottom: 15px;
                top: -8px;
            };
        }
        .btn-box {
            margin-top: 48px;
        }
    }
    .main-banner-animation-image {
        width: auto;
        text-align: center;
        height: auto;

        img {
            position: relative;

            &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4), &:nth-child(5), &:nth-child(6), &:nth-child(7), &:nth-child(8), &:nth-child(9), &:nth-child(10), &:nth-child(11), &:nth-child(12) {
                display: none;
            }
            &:last-child {
                display: inline-block;
            }
        }
    }

}

@media only screen and (min-width: 1200px) and (max-width: 1355px) {

    .main-banner-content {
        h1 {
            font-size: 72px;
        }
    }
    .main-banner-animation-image {
        img {
            max-width: 40%;
                
    //         &:nth-child(1) {
    //             left: 45px;
    //             bottom: -220px;
    //         }
    //         &:nth-child(2) {
    //             left: 180px;
    //             top: 10px;
    //         }
    //         &:nth-child(3) {
    //             left: 15px;
    //             top: -135px;
    //         }
    //         &:nth-child(4) {
    //             left: 165px;
    //             right: 0;
    //             top: -100px;
    //         }
    //         &:nth-child(5) {
    //             left: 145px;
    //             right: 0;
    //             top: -190px;
    //         }
    //         &:nth-child(6) {
    //             right: 50px;
    //             top: 80px;
    //         }
    //         &:nth-child(7) {
    //             right: 5px;
    //             top: -70px;
    //             max-width: 30%;
    //         }
    //         &:nth-child(8) {
    //             left: 170px;
    //             right: 0;
    //             top: 10px;
    //         }
    //         &:nth-child(9) {
    //             right: 0;
    //             top: 0;
    //         }
    //         &:nth-child(10) {
    //             right: 0;
    //             bottom: -190px;
    //         }
    //         &:nth-child(11) {
    //             right: 45px;
    //             top: 71px;
    //             z-index: -2;
    //             max-width: 30%;
    //         }
    //         &:nth-child(12) {
    //             left: 100px;
    //             top: 180px;
    //             z-index: -1;
    //         }
    //         &:last-child {
    //             display: none;
    //         }
        }
    }

}

@media only screen and (min-width: 1550px) {


    .main-banner-content {
        h1 {
            font-size: 65px;
        }
    }
    // .main-banner-animation-image {
    //     // img {    
    //     //     &:nth-child(1) {
    //     //         left: 35px;
    //     //     }
    //     //     &:nth-child(2) {
    //     //         left: 255px;
    //     //         top: 0;
    //     //     }
    //     //     &:nth-child(3) {
    //     //         left: 10px;
    //     //     }
    //     // }
    // }

}