<section class="recipients-detail-long">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-8">
        <h1 class="recipients-detail-long__title d-md-none">
          Producenci oraz wypożyczal-nie sprzętu rolnego
        </h1>
        <h1 class="recipients-detail-long__title d-none d-md-block">
          Producenci oraz wypożyczalnie sprzętu rolnego
        </h1>
      </div>
    </div>
  </div>
  <img
    class="recipients-detail-long__banner d-none d-md-block"
    src="assets/img/hand-truck%201.png"
    alt="Hand truck image"
  />
</section>

<div class="recipients-detail-long recipients-detail-long--secondary-bg">
  <div class="container-fluid p-0 m-auto">
    <div class="row">
      <div class="col-12 col-xl-8 position-relative">
        <div
          class="container-fluid container-fluid--small recipients-detail-long--second-container"
        >
          <div class="row">
            <div class="col-12 col-md-8 col-xl-9">
              <h2 class="recipients-detail-long__title--small">
                Jak działamy w tym sektorze?
              </h2>
              <p
                class="recipients-detail-long__paragraph recipients-detail-long__paragraph--small"
              >
                Potrzebujesz rozwiązania, które wesprze procesy współpracy,
                monitorowania i kontroli dostawców? Chcesz zapewnić sobie
                dostawy wysokiej jakości produktów w zakontraktowanych
                ilościach?
              </p>
              <p
                class="recipients-detail-long__paragraph recipients-detail-long__paragraph--small"
              >
                Wykorzystaj FoodPass do zarządzania kontraktami i dostawami
                owoców i warzyw, rozliczaj dostawców oraz wyposaż technologów w
                nowoczesne narzędzia do pracy zdalnej, lokalnej na uprawach i
                prowadzenie ewidencji prac.
              </p>
              <p
                class="recipients-detail-long__paragraph recipients-detail-long__paragraph--small"
              >
                Wyposaż swoich dostawców w system zarządzania produkcją
                roślinną, dzięki któremu oni ograniczą koszty i dotrzymają umów
                a Ty będziesz mógł z nimi bezpośrednio współpracować mając
                dostęp do części danych produkcyjnych (za ich zgodą).
              </p>
              <p
                class="recipients-detail-long__paragraph recipients-detail-long__paragraph--small"
              >
                Implementuj elementy strategii Zielonego Ładu w całym łańcuchu
                wartości.
              </p>
            </div>
          </div>
          <img
            class="recipients-detail-long__img-vegetables"
            src="/assets/img/automatic-vegetable-plucking.png"
            alt="vegetables"
          />
        </div>

        <div
          class="container-fluid container-fluid--small recipients-detail-long--third-container"
        >
          <div class="row recipients-detail-long--third-container-row">
            <div
              class="col-12 col-md-8 col-xl-9 recipients-detail-long--third-container-border"
            >
              <h2 class="recipients-detail-long__title--small">Możliwości</h2>
              <p class="recipients-detail-long__paragraph">
                Nasze produkty wspierają dystrybutorów owoców i warzyw w
                procesach na każdym etapie łańcucha dostaw, między innymi:
              </p>
              <ul class="recipients-detail-long__list">
                <li class="recipients-detail-long__list-item">
                  Kontraktowanie dostaw oraz rozliczanie planu realizacji
                </li>
                <li class="recipients-detail-long__list-item">
                  Monitorowanie produkcji od pola do stołu
                </li>
                <li class="recipients-detail-long__list-item">
                  Wsparcie audytu upraw, gospodarstw
                </li>
                <li class="recipients-detail-long__list-item">
                  Kontrola jakości i bezpieczeństwa
                </li>
                <li class="recipients-detail-long__list-item">
                  Integracja z obecnymi w przedsiębiorstwie systemami
                  informatycznymi ERP, MRP, CRM
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div
          class="recipients-detail-long__img-graph-container position-relative"
        >
          <div class="recipients-detail-long__img-graph-box">
            <img
              class="recipients-detail-long__img-graph"
              src="/assets/img/growth-graph-1.png"
              alt="growth"
            />
            <img
              class="recipients-detail-long__violet-vector"
              src="assets/img/vector-violet.png"
              alt="Violet vector"
            />
          </div>
        </div>
        <div
          class="container-fluid container-fluid--small recipients-detail-long--fourth-container"
        >
          <div class="row recipients-detail-long--fourth-container-row">
            <div class="col-12 col-md-8 col-xl-9">
              <h2 class="recipients-detail-long__title--small">Funkcje</h2>
              <ul class="recipients-detail-long__list mt-xl-0">
                <li class="recipients-detail-long__list-item">
                  Zawieranie kontraktów z dostawcami na konkretne produkty, na
                  dokładnie określonych działkach z harmonogramem dostaw
                </li>
                <li class="recipients-detail-long__list-item">
                  Przyjęcia towarów na podstawie rejestracji dostaw wraz
                  kontrolą jakości
                </li>
                <li class="recipients-detail-long__list-item">
                  Budowanie relacji z dostawcami dzięki rozwiązaniom komunikacji
                  wewnętrznej, funkcjom CRM, przekazywaniem danych
                </li>
                <li class="recipients-detail-long__list-item">
                  Kontrola jakości oraz bezpieczeństwa - od gruntu, poprzez
                  uprawy aż po dostawę towaru
                </li>
                <li class="recipients-detail-long__list-item">
                  Zarządzanie zadaniami dla kupców, technologów
                </li>
                <li class="recipients-detail-long__list-item">
                  Wsparcie dla przeprowadzania kontroli upraw dostawców dla
                  technologów i agronomów
                </li>
                <li class="recipients-detail-long__list-item">
                  Zarządzanie katalogiem produktów
                </li>
                <li class="recipients-detail-long__list-item">
                  Wsparcie kryzysowe dostawców
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div
          class="recipients-detail-long__app-image-container d-flex justify-content-center"
        >
          <div class="recipients-detail-long__app-image-box">
            <img
              class="recipients-detail-long__app-image"
              src="/assets/img/application.png"
              alt="application"
            />
            <img
              class="recipients-detail-long__app-vector-image"
              src="/assets/img/app-vector.png"
              alt="vector"
            />
          </div>
        </div>
      </div>
      <div
        class="col-xl-4 d-none d-xl-block recipients-detail-long__right-container"
      >
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <div class="recipients-detail-long__brands">
                <p class="recipients-detail-long__paragraph--gray">
                  Sprawdź też powiązane branże
                </p>
                <div class="recipients-detail-long__btn-list">
                  <a class="default-btn default-btn--border mb-3" href="#">
                    dystrybutorzy owoców i warzyw
                  </a>
                  <a class="default-btn default-btn--border mb-3" href="#">
                    doradztwo rolne
                  </a>
                  <a class="default-btn default-btn--border mb-3" href="#">
                    ubezpieczenia
                  </a>
                  <a class="default-btn default-btn--border" href="#">
                    startupy
                  </a>
                </div>
              </div>
              <div class="recipients-detail-long__contact-section">
                <p class="recipients-detail-long__paragraph--gray">Kontakt</p>
                <p class="recipients-detail-long__contact-section-p">
                  Ligota Wielka 34 <br />
                  56-400 Ligota Wielka <br />
                  (+48) XXX XXX XXX<br />
                  kontakt@agrisolutions.eu
                </p>
                <a
                  class="default-btn default-btn--border d-flex"
                  routerLink="/contact"
                >
                  napisz do nas
                </a>
              </div>
              <div class="recipients-detail-long__contact-section">
                <p class="recipients-detail-long__paragraph--gray">Broszury</p>
                <div>
                  <div class="recipients-detail-long__contact-link-container">
                    <a class="recipients-detail-long__contact-link" href="#">
                      <img src="assets/img/broszura.png" alt="Broszura" />
                      FoodPass
                    </a>
                  </div>
                  <div class="recipients-detail-long__contact-link-container">
                    <a class="recipients-detail-long__contact-link" href="#">
                      <img src="assets/img/broszura.png" alt="Broszura" />
                      FarmPortal
                    </a>
                  </div>
                  <div class="recipients-detail-long__contact-link-container">
                    <a class="recipients-detail-long__contact-link" href="#">
                      <img src="assets/img/broszura.png" alt="Broszura" />
                      FarmCloud
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="recipients-detail-long recipients-detail-long--dark-bg">
  <div class="container-fluid">
    <div class="row">
      <div
        class="col-12 col-md-8 col-xl-5 recipients-detail-long__dark-bg-title-container"
      >
        <h2 class="recipients-detail-long__title--small">
          Nasze produkty dla tego sektora
        </h2>
        <p class="recipients-detail-long__paragraph">
          Produkcja rolno-spożywcza jest siecią powiązań między wieloma
          podmiotami począwszy od rolników.
        </p>
      </div>
      <div class="d-none d-xl-block col-xl-4">
        <div class="recipients-detail-long__business-img-container">
          <img
            class="recipients-detail-long__business-img"
            src="assets/img/business-document.png"
            alt="Business document"
          />
          <img
            class="recipients-detail-long__business-vector-img"
            src="assets/img/vector-business-doc.png"
            alt="Business document vector"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid px-0 mx-0 pt-0">
    <div class="row">
      <div class="col-12 col-xl-3 px-xl-0">
        <div class="recipients-detail-long__product-item ps-xl-0">
          <img
            class="recipients-detail-long__product-item-logo--title"
            src="assets/img/Food_Pass_logo.png"
            alt="Food pass logo"
          />
          <a
            routerLink="/foodpass"
            class="recipients-detail-long__product-item-link"
            >Poznaj produkt
            <img
              class="ms-3"
              src="assets/img/arrow-short.png"
              alt="Get know product"
            />
          </a>
          <div class="recipients-detail-long__product-item-logo">
            <img
              class="recipients-detail-long__product-item-logo--vector"
              src="assets/img/Vector_product.png"
              alt="Food pass vector"
            />
            <img
              class="recipients-detail-long__product-item-logo--img"
              src="assets/img/eco_plant.png"
              alt="Food pass image"
            />
          </div>
        </div>
      </div>
      <div class="col-12 col-xl-3 px-xl-0">
        <div class="recipients-detail-long__product-item">
          <img
            class="recipients-detail-long__product-item-logo--title recipients-detail-long__product-item-logo--title-orange"
            src="assets/img/Farm_Portal_logo.png"
            alt="Food portal logo"
          />
          <a
            routerLink="/farmportal"
            class="recipients-detail-long__product-item-link"
            >Poznaj produkt
            <img
              class="ms-3"
              src="assets/img/arrow-short.png"
              alt="Get know product"
            />
          </a>
          <div class="recipients-detail-long__product-item-logo">
            <img
              class="recipients-detail-long__product-item-logo--vector recipients-detail-long__product-item-logo--vector-orange"
              src="assets/img/Vector_farmportal.png"
              alt="Food portal vector"
            />
            <img
              class="recipients-detail-long__product-item-logo--img recipients-detail-long__product-item-logo--img-orange"
              src="assets/img/smart_farm.png"
              alt="Food portal image"
            />
          </div>
        </div>
      </div>
      <div class="col-12 col-xl-3 px-xl-0">
        <div
          class="recipients-detail-long__product-item recipients-detail-long__product-item--last"
        >
          <img
            class="recipients-detail-long__product-item-logo--title recipients-detail-long__product-item-logo--title-violet"
            src="assets/img/Farm_Cloud_logo.png"
            alt="Food cloud logo"
          />
          <a
            routerLink="/foodcloud"
            class="recipients-detail-long__product-item-link"
            >Poznaj produkt
            <img
              class="ms-3"
              src="assets/img/arrow-short.png"
              alt="Get know product"
            />
          </a>
          <div class="recipients-detail-long__product-item-logo">
            <img
              class="recipients-detail-long__product-item-logo--vector"
              src="assets/img/Vector_farmcloud.png"
              alt="Food cloud vector"
            />
            <img
              class="recipients-detail-long__product-item-logo--img recipients-detail-long__product-item-logo--img-violet"
              src="assets/img/cloud_data.png"
              alt="Food cloud image"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
