<footer class="{{ footerClass }}">
  <div class="container-fluid container-fluid--small">
    <div class="row">
      <div class="col-12 col-md-3 mb-5 mb-xl-0">
        <div class="single-footer-widget single-footer-widget--start">
          <a routerLink="/" class="logo"
            ><img src="assets/img/logoagri.png" alt="logo"
          /></a>
        </div>
      </div>

      <div class="col-12 col-md-3 mb-5 mb-xl-0">
        <div class="single-footer-widget">
          <div class="footer-address-list">
            <span>
              {{ "FOOTER.COMPANY" | translate }}<br />
              {{ "FOOTER.STREET" | translate }}<br />
              {{ "FOOTER.CITY" | translate }}<br />
              {{ "FOOTER.TEL" | translate }}<br />
              {{ "FOOTER.EMAIL" | translate }}
            </span>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-3 mb-5 mb-xl-0">
        <div class="single-footer-widget">
          <div class="footer-links-list">
            <a routerLink="/team"> {{ "FOOTER.PRIVACY_POLICY" | translate }}</a>
            <a routerLink="/services"> {{ "FOOTER.HISTORY" | translate }}</a>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-3 mb-5 mb-xl-0">
        <div class="single-footer-widget single-footer-widget--end">
          <div class="footer-contact-info">
            <span> {{ "FOOTER.TEXT" | translate }}</span>
          </div>
        </div>
      </div>
    </div>
    <img
      class="contact-page-img"
      src="assets/img/footer-logo.png"
      alt="image"
    />
  </div>
</footer>
