.services-area {
  position: relative;
  z-index: 1;
  margin-bottom: 60px;
  @media only screen and (min-width: 1200px) {
    margin-bottom: 150px;
  }
}
.container-fluid {
  padding-bottom: 0;
  background-color: #f6f2ff;
  @media only screen and (min-width: 1200px) {
    background-color: #fbf9ff;
  }
}
.section-title {
  margin-bottom: 0;
  max-width: 396px;
  h2 {
    margin-bottom: 24px;
    text-align: left;
    font: {
      size: 32px;
      weight: 600;
    }
    @media only screen and (min-width: 1200px) {
      font-size: 56px;
    }
  }
  p {
    color: #3a404f;
    text-align: left;
    font-size: 16px;
    weight: 400;
    @media only screen and (min-width: 1200px) {
      font-size: 20px;
      font-weight: 400;
      margin-bottom: 40px;
    }
  }
}
.cooperation-section {
  @media only screen and (min-width: 1200px) {
    background-color: #fbf9ff;
  }
}
.cooperation-section-area {
  @media only screen and (min-width: 1200px) {
    background-color: #fbf9ff;
  }
  .default-btn {
    margin: 56px auto 80px auto;
    @media only screen and (min-width: 1200px) {
      margin: 56px 0 0 0;
    }
  }

  .sensors-list__btn-container {
    display: flex;
    justify-content: center;
    @media only screen and (min-width: 1200px) {
      justify-content: flex-start;
    }
  }
}
.cooperation-section-img {
  display: flex;
  justify-content: center;
  position: relative;
  background-color: #fbf9ff;
  margin-left: -24px;
  margin-right: -24px;

  .cooperation-img {
    max-width: 288px;
    @media only screen and (min-width: 1200px) {
      max-width: 504px;
      z-index: 1;
    }
  }
  .vector-cooperation {
    display: none;
    @media only screen and (min-width: 1200px) {
      display: block;
      max-width: 364px;
      position: absolute;
      right: 47px;
    }
  }
}

// .project-start-image {
//     text-align: center;
// }
// .project-start-content {
//     .sub-title {
//         position: relative;
//         display: block;
//         text-transform: uppercase;
//         margin-bottom: 15px;
//         color: var(--mainColor);
//         font: {
//             weight: 700;
//             size: 15px;
//         }
//         img {
//             margin-right: 5px;
//             animation: {
//                 name: rotateme;
//                 duration: 40s;
//                 iteration-count: infinite;
//                 timing-function: linear;
//             }
//         }
//     }
//     h2 {
//         margin-bottom: 15px;
//         font: {
//             size: 44px;
//         }
//     }
//     p {
//         margin-bottom: 20px;

//         &:last-child {
//             margin-bottom: 0;
//         }
//     }
//     .default-btn {
//         margin-top: 5px;
//     }
// }

// @media only screen and (max-width: 767px) {
//     .project-start-content {
//         text-align: center;
//         margin-top: 30px;

//         .sub-title {
//             margin-bottom: 12px;
//             font-size: 14px;
//         }
//         h2 {
//             font-size: 27px;
//             margin-bottom: 12px;
//         }
//         .default-btn {
//             margin-top: 0;
//         }
//     }
// }

// @media only screen and (min-width: 768px) and (max-width: 991px) {
//     .project-start-content {
//         text-align: center;
//         max-width: 600px;
//         margin: {
//             left: auto;
//             right: auto;
//             top: 35px;
//         }
//         .sub-title {
//             font-size: 14px;
//         }
//         h2 {
//             font-size: 35px;
//         }
//         .default-btn {
//             margin-top: 0;
//         }
//     }
// }

// @media only screen and (min-width: 992px) and (max-width: 1199px) {
//     .project-start-content {
//         h2 {
//             font-size: 36px;
//         }
//     }
// }
