<section class="products">
  <div class="container-fluid products--first-container">
    <div class="row">
      <div class="col-12 col-md-8">
        <h1 class="products__title">
          FarmPortal - monitoring i kontrola produkcji rolnej
        </h1>
        <p class="products__title-p">
          Załóż darmowe konto i już dzisiaj zwiększ swój potencjał produkcyjny
        </p>
        <a class="default-btn" href="/contact">Zapytaj o darmowe konto</a>
      </div>
      <div
        class="col-md-4 d-none d-md-block d-xl-flex justify-content-xl-center"
      >
        <img
          class="products__banner"
          src="assets/img/Farm_Portal_logo_sygnet-orange.png"
          alt="Food pass sygnet"
        />
      </div>
    </div>
  </div>
</section>

<div class="products products--secondary-bg">
  <div class="container-fluid p-0 m-auto">
    <div class="row">
      <div class="col-12 col-xl-8 position-relative">
        <div
          class="container-fluid container-fluid--small products--third-container"
        >
          <div class="row">
            <div class="col-12 col-xl-10">
              <h2 class="products__title--small">Poznaj możliwości</h2>
              <ul class="products__list">
                <li class="products__list-item">
                  Monitorowanie upraw - od lokalnych audytów, przez sensory po
                  teledetekcję hiperspektralną. Alarmy o zagrożeniach
                </li>
                <li class="products__list-item">
                  Wsparcie w zarządzaniu - od nawożenia po oprysk i nawadnianie.
                  Monitorowanie GPS maszyn i pojazdów oraz automatyczne karty
                  pola
                </li>
                <li class="products__list-item">
                  Zestaw pomocnych narzędzi - wygodne rozwiązania do codziennej
                  pracy na gospodarstwie dla zarządcy, agronomów i pracowników
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div
          class="container-fluid container-fluid--small pt-md-0 products--fourth-container"
        >
          <div class="row">
            <div class="col-12 col-xl-10">
              <h2 class="products__title--small">Korzyści</h2>
              <ul class="products__list mt-xl-0">
                <li class="products__list-item">
                  Zwiększenie plonów dzięki zaleceniom oraz zapobieganiu strat
                  na uprawach
                </li>
                <li class="products__list-item">
                  Zmniejszenie kosztów produkcji przy zachowaniu wysokich plonów
                  dzięki podglądowi kondycji upraw i reagowaniu na czas
                </li>
                <li class="products__list-item">
                  Wdrożenie procedur oraz wymagań Zielonego Ładu
                </li>
                <li class="products__list-item">
                  Optymalizacja pracy na gospodarstwie
                </li>
                <li class="products__list-item">
                  Gromadzenie dokumentacji dla certyfikacji, kontroli,
                  rozliczania projektów
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="container-fluid pb-md-0">
          <div class="row">
            <div class="col-12 col-xl-9">
              <h2 class="products__title--small">Dla kogo?</h2>
              <div class="row products__gray-box-row">
                <div class="col-12 col-md-6">
                  <div class="products__gray-box">Produkcja roślinna</div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="products__gray-box">Sadownictwo</div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="products__gray-box">Warzywnictwo</div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="products__gray-box">Grupy producenckie</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container-fluid pt-0 container-fluid--small pb-0 d-md-none">
          <div class="row">
            <div class="col-12 col-xl-10">
              <h2 class="products__title--small">
                Poznaj branże, w których sprawdzi się FarmPortal
              </h2>
              <div class="row products__btn-row">
                <div class="col-12 col-md-6">
                  <a href="#" class="default-btn default-btn--border d-flex">
                    dystrybutorzy owoców i warzyw
                  </a>
                </div>
                <div class="col-12 col-md-6">
                  <a href="#" class="default-btn default-btn--border d-flex">
                    doradztwo rolne
                  </a>
                </div>
                <div class="col-12 col-md-6">
                  <a href="#" class="default-btn default-btn--border d-flex">
                    ubezpieczenia
                  </a>
                </div>
                <div class="col-12 col-md-6">
                  <a href="#" class="default-btn default-btn--border d-flex">
                    startupy
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="products__food-pass-ilu">
          <div class="row">
            <div class="col-12 col-xl-9 d-flex justify-content-center">
              <img
                src="assets/img/Farm%20Portal%20ilu.png"
                alt="Food pass ilustration"
              />
            </div>
          </div>
        </div>
        <div class="container-fluid py-0">
          <div class="row">
            <div class="col-12 col-xl-9">
              <h2 class="products__title--small">Monitoring upraw</h2>
              <p class="products__paragraph">
                Monitoruj i zarządzaj uprawami z wykorzystaniem sensorów,
                teledetekcji oraz audytów. Reaguj na zagrożenia dzięki alarmom i
                notyfikacjom.
              </p>
              <div class="row products__box-row">
                <div class="col-6">
                  <div class="products__box-border">
                    <img src="assets/img/Vector-4.png" alt="icon" />
                    <p>Prognozy pogody</p>
                  </div>
                </div>
                <div class="col-6">
                  <div class="products__box-border">
                    <img src="assets/img/Vector-4.png" alt="icon" />
                    <p>Modele chorobowe</p>
                  </div>
                </div>
                <div class="col-6">
                  <div class="products__box-border">
                    <img src="assets/img/Vector-4.png" alt="icon" />
                    <p>Automatyczna rejestracja zabiegów</p>
                  </div>
                </div>
                <div class="col-6">
                  <div class="products__box-border">
                    <img src="assets/img/Vector-4.png" alt="icon" />
                    <p>Obserwacje pola</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container-fluid pb-0">
          <div class="row">
            <div class="col-12 col-xl-10">
              <h2 class="products__title--small">
                Zarządzanie inwentarzem gospodarstwa
              </h2>
              <p class="products__paragraph">
                Kontroluj oraz zarządzaj zasobami gospodarstwa rolnego. W prosty
                i szybki sposób dodawaj działki z rejestru katastralnego.
              </p>
              <div class="row products__box-row">
                <div class="col-6">
                  <div class="products__box-border">
                    <img src="assets/img/Vector-4.png" alt="icon" />
                    <p>Pracownicy</p>
                  </div>
                </div>
                <div class="col-6">
                  <div class="products__box-border">
                    <img src="assets/img/Vector-4.png" alt="icon" />
                    <p>Pola i grunty</p>
                  </div>
                </div>
                <div class="col-6">
                  <div class="products__box-border">
                    <img src="assets/img/Vector-4.png" alt="icon" />
                    <p>Maszyny z monitoringiem GPS</p>
                  </div>
                </div>
                <div class="col-6">
                  <div class="products__box-border">
                    <img src="assets/img/Vector-4.png" alt="icon" />
                    <p>Budynki</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container-fluid pb-0">
          <div class="row">
            <div class="col-12 col-xl-10">
              <h2 class="products__title--small">
                Optymalizacja produkcji rolnej
              </h2>
              <p class="products__paragraph">
                Zmniejszenie kosztów produkcji przy zachowaniu wysokich plonów
                dzięki zastosowaniu rolnictwa precyzyjnego, intuicyjnemu
                systemowi zaleceń oraz wspomagania decyzji.
              </p>
              <div class="row products__box-row">
                <div class="col-6">
                  <div class="products__box-border">
                    <img src="assets/img/Vector-4.png" alt="icon" />
                    <p>Badania gleb</p>
                  </div>
                </div>
                <div class="col-6">
                  <div class="products__box-border">
                    <img src="assets/img/Vector-4.png" alt="icon" />
                    <p>Kalkulator nawożenia</p>
                  </div>
                </div>
                <div class="col-6">
                  <div class="products__box-border">
                    <img src="assets/img/Vector-4.png" alt="icon" />
                    <p>Kalkulator emisji CO2</p>
                  </div>
                </div>
                <div class="col-6">
                  <div class="products__box-border">
                    <img src="assets/img/Vector-4.png" alt="icon" />
                    <p>Zlecenie terminu oprysków</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container-fluid products__last-container">
          <div class="row">
            <div class="col-12 col-xl-10">
              <h2 class="products__title--small">
                Inteligentne rolnictwo - sensory IoT
              </h2>
              <p class="products__paragraph">
                Wykorzystaj zintegrowane rozwiązania sprzętowe do automatycznej
                rejestracji zabiegów na karcie pola, monitoruj uprawy w czasie
                rzeczywistym.
              </p>
              <div class="row products__box-row">
                <div class="col-6">
                  <div class="products__box-border">
                    <img src="assets/img/Vector-4.png" alt="icon" />
                    <p>Stacje meteo</p>
                  </div>
                </div>
                <div class="col-6">
                  <div class="products__box-border">
                    <img src="assets/img/Vector-4.png" alt="icon" />
                    <p>Sensory nawodnienia gleby</p>
                  </div>
                </div>
                <div class="col-6">
                  <div class="products__box-border">
                    <img src="assets/img/Vector-4.png" alt="icon" />
                    <p>Automatyczna rejestracja zabiegów</p>
                  </div>
                </div>
                <div class="col-6">
                  <div class="products__box-border">
                    <img src="assets/img/Vector-4.png" alt="icon" />
                    <p>Maszyny z monitoringiem GPS</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-4 d-none d-xl-block products__right-container">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <div class="products__brands">
                <p class="products__paragraph--gray">
                  Branże powiązane z FarmPortal
                </p>
                <div class="products__btn-list">
                  <a class="default-btn default-btn--border mb-3" href="#">
                    dystrybutorzy owoców i warzyw
                  </a>
                  <a class="default-btn default-btn--border mb-3" href="#">
                    doradztwo rolne
                  </a>
                  <a class="default-btn default-btn--border mb-3" href="#">
                    ubezpieczenia
                  </a>
                  <a class="default-btn default-btn--border" href="#">
                    startupy
                  </a>
                </div>
              </div>
              <div class="products__contact-section">
                <p class="products__paragraph--gray">Kontakt</p>
                <p class="products__contact-section-p">
                  Ligota Wielka 34 <br />
                  56-400 Ligota Wielka <br />
                  (+48) XXX XXX XXX<br />
                  kontakt@agrisolutions.eu
                </p>
                <a
                  class="default-btn default-btn--border d-flex"
                  routerLink="/contact"
                >
                  napisz do nas
                </a>
              </div>
              <div class="products__contact-section">
                <p class="products__paragraph--gray">Broszury</p>
                <div>
                  <div class="products__contact-link-container">
                    <a class="products__contact-link" href="#">
                      <img src="assets/img/broszura.png" alt="Broszura" />
                      FoodPass
                    </a>
                  </div>
                  <div class="products__contact-link-container">
                    <a class="products__contact-link" href="#">
                      <img src="assets/img/broszura.png" alt="Broszura" />
                      FarmPortal
                    </a>
                  </div>
                  <div class="products__contact-link-container">
                    <a class="products__contact-link" href="#">
                      <img src="assets/img/broszura.png" alt="Broszura" />
                      FarmCloud
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <img
          class="products__dark-img-sygnet"
          src="assets/img/Farm_Portal_logo_sygnet-1.png"
          alt="food portal sygnet"
        />
      </div>
    </div>
  </div>
</div>

<div class="products products--secondary-bg">
  <div class="container-fluid p-0">
    <div class="row">
      <div class="col-xl-8 products--secondary-bg-border">
        <div class="container-fluid products__food-pass-container">
          <img
            src="assets/img/Farm_Portal_logo_granat-1.png"
            alt="Food portal ilustration"
          />
          <img
            class="products__earth-day-img d-none d-xl-block"
            src="assets/img/crop-monitoring-via-mobile-device-2.png"
            alt="Food pass ilustration"
          />
        </div>
        <div class="container-fluid pt-0">
          <div class="row">
            <div class="col-12 col-xl-8">
              <h2 class="products__title--small">Gdziekolwiek jesteś</h2>
              <p class="products__paragraph">
                Niezależnie gdzie jesteś, z aplikacją mobilną FarmPortal
                monitorować i kontrolować co dzieje się w gospodarstwie oraz
                uprawach. Jesteś na bieżąco informowany dzięki alarmom i
                notyfikacjom.
              </p>
              <div class="row products__gray-box-row">
                <div class="col-12 col-md-6">
                  <div class="products__gray-box">iOS</div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="products__gray-box">Android</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container-fluid pt-0">
          <div class="row">
            <div class="col-12 col-xl-12">
              <h2 class="products__title--small">
                Zwiększenie <br />
                wydajności pracy
              </h2>
              <div class="row products__gray-box-row">
                <div class="col-12 col-md-4">
                  <div class="products__gray-box">Notowania</div>
                </div>
                <div class="col-12 col-md-4">
                  <div class="products__gray-box">Raporty i analizy</div>
                </div>
                <div class="col-12 col-md-4">
                  <div class="products__gray-box">
                    Baza środków <br />
                    ochrony roślin
                  </div>
                </div>
                <div class="col-12 col-md-4">
                  <div class="products__gray-box">
                    Certyfikaty <br />
                    produkcji rolnej
                  </div>
                </div>
                <div class="col-12 col-md-4">
                  <div class="products__gray-box">
                    Gromadzenie <br />dokumentów
                  </div>
                </div>
                <div class="col-12 col-md-4">
                  <div class="products__gray-box">
                    Dokumentacja <br />
                    produkcji
                  </div>
                </div>
                <div class="col-12 col-md-4">
                  <div class="products__gray-box">Baza nawozów</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container-fluid pt-0 d-xl-none">
          <div class="row">
            <div class="col-12 col-xl-6">
              <h2 class="products__title--small">Broszury do pobrania</h2>
              <p class="products__paragraph">
                Chcesz przeczytać więcej o naszych produktach? Pobierz broszury
                pdf.
              </p>
              <ul class="products__documents">
                <li class="products__documents-item">
                  <a href="#">
                    <img src="assets/img/broszura.png" alt="Broszura" />
                    FarmPortal
                  </a>
                </li>
                <li class="products__documents-item">
                  <a href="#">
                    <img src="assets/img/broszura.png" alt="Broszura" />
                    FoodPass
                  </a>
                </li>
                <li class="products__documents-item">
                  <a href="#">
                    <img src="assets/img/broszura.png" alt="Broszura" />
                    FarmCloud
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="container-fluid pt-0 products__get-know-container">
          <div class="row">
            <div class="col-12 col-xl-8">
              <h2 class="products__title--small">Dowiedz się więcej</h2>
              <div class="row products__btn-row">
                <div class="col-12 col-md-6">
                  <a href="#" class="default-btn default-btn--border d-flex">
                    Rolnictwo 4.0
                  </a>
                </div>
                <div class="col-12 col-md-6">
                  <a href="#" class="default-btn default-btn--border d-flex">
                    Modele wdrożenia
                  </a>
                </div>
                <div class="col-12 col-md-6">
                  <a href="#" class="default-btn default-btn--border d-flex">
                    FoodPass
                  </a>
                </div>
                <div class="col-12 col-md-6">
                  <a href="#" class="default-btn default-btn--border d-flex">
                    FarmCloud
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="main-banner-customers">
        <div class="container-fluid container-fluid--small pt-0">
          <div class="row customers">
            <div class="col-md-3 col-6 customers__logo customers__logo--start">
              <img
                src="assets/img/microsoft_logo.png"
                class="customers__logo--microsoft"
                alt="image"
              />
            </div>
            <div
              class="col-md-3 col-6 customers__logo customers__logo--amplus-col"
            >
              <img
                src="assets/img/amplus_logo.png"
                class="customers__logo--amplus"
                alt="image"
              />
            </div>
            <div class="col-md-3 col-6 customers__logo mb-0">
              <img
                src="assets/img/agrosnova_logo.png"
                class="customers__logo--agrosnova"
                alt="image"
              />
            </div>
            <div
              class="col-md-3 col-6 customers__logo customers__logo--end mb-0"
            >
              <img
                src="assets/img/KOWR_logo.png"
                class="customers__logo--KOWR"
                alt="image"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
