<section class="products">
  <div class="container-fluid products--first-container">
    <div class="row">
      <div class="col-12 col-md-8">
        <h1 class="products__title">
          {{ "FARMPORTAL.BANNER.TITLE" | translate }}
        </h1>
        <p class="products__title-p">
          {{ "FARMPORTAL.BANNER.PARAGRAPH" | translate }}
        </p>
        <a class="default-btn" href="/contact">
          {{ "FARMPORTAL.BANNER.BUTTON" | translate }}</a
        >
      </div>
      <div
        class="col-md-4 d-none d-md-block d-xl-flex justify-content-xl-center"
      >
        <img
          class="products__banner"
          src="assets/img/Farm_Portal_logo_sygnet-orange.png"
          alt="Food pass sygnet"
        />
      </div>
    </div>
  </div>
</section>

<div class="products products--secondary-bg">
  <div class="container-fluid p-0 m-auto">
    <div class="row">
      <div class="col-12 col-xl-8 position-relative">
        <div
          class="container-fluid container-fluid--small products--third-container"
        >
          <div class="row">
            <div class="col-12 col-xl-10">
              <h2 class="products__title--small">
                {{ "FARMPORTAL.POSSIBILITIES.TITLE" | translate }}
              </h2>
              <ul class="products__list">
                <li class="products__list-item">
                  {{ "FARMPORTAL.POSSIBILITIES.ITEM_1" | translate }}
                </li>
                <li class="products__list-item">
                  {{ "FARMPORTAL.POSSIBILITIES.ITEM_2" | translate }}
                </li>
                <li class="products__list-item">
                  {{ "FARMPORTAL.POSSIBILITIES.ITEM_3" | translate }}
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div
          class="container-fluid container-fluid--small pt-md-0 products--fourth-container"
        >
          <div class="row">
            <div class="col-12 col-xl-10">
              <h2 class="products__title--small">
                {{ "FARMPORTAL.ADVANTAGES.TITLE" | translate }}
              </h2>
              <ul class="products__list mt-xl-0">
                <li class="products__list-item">
                  {{ "FARMPORTAL.ADVANTAGES.ITEM_1" | translate }}
                </li>
                <li class="products__list-item">
                  {{ "FARMPORTAL.ADVANTAGES.ITEM_2" | translate }}
                </li>
                <li class="products__list-item">
                  {{ "FARMPORTAL.ADVANTAGES.ITEM_3" | translate }}
                </li>
                <li class="products__list-item">
                  {{ "FARMPORTAL.ADVANTAGES.ITEM_4" | translate }}
                </li>
                <li class="products__list-item">
                  {{ "FARMPORTAL.ADVANTAGES.ITEM_5" | translate }}
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="container-fluid pb-md-0">
          <div class="row">
            <div class="col-12 col-xl-9">
              <h2 class="products__title--small">
                {{ "FARMPORTAL.FOR_WHO.TITLE" | translate }}
              </h2>
              <div class="row products__gray-box-row">
                <div class="col-12 col-md-6">
                  <div class="products__gray-box">
                    {{ "FARMPORTAL.FOR_WHO.ITEM_1" | translate }}
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="products__gray-box">
                    {{ "FARMPORTAL.FOR_WHO.ITEM_2" | translate }}
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="products__gray-box">
                    {{ "FARMPORTAL.FOR_WHO.ITEM_3" | translate }}
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="products__gray-box">
                    {{ "FARMPORTAL.FOR_WHO.ITEM_4" | translate }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container-fluid pt-0 container-fluid--small pb-0 d-md-none">
          <div class="row">
            <div class="col-12 col-xl-10">
              <h2 class="products__title--small">
                {{ "FARMPORTAL.GET_KNOW_INDUSTRY.TITLE" | translate }}
              </h2>
              <div class="row products__btn-row">
                <div class="col-12 col-md-6">
                  <a href="#" class="default-btn default-btn--border d-flex">
                    {{ "FARMPORTAL.GET_KNOW_INDUSTRY.ITEM_1" | translate }}
                  </a>
                </div>
                <div class="col-12 col-md-6">
                  <a href="#" class="default-btn default-btn--border d-flex">
                    {{ "FARMPORTAL.GET_KNOW_INDUSTRY.ITEM_2" | translate }}
                  </a>
                </div>
                <div class="col-12 col-md-6">
                  <a href="#" class="default-btn default-btn--border d-flex">
                    {{ "FARMPORTAL.GET_KNOW_INDUSTRY.ITEM_3" | translate }}
                  </a>
                </div>
                <div class="col-12 col-md-6">
                  <a href="#" class="default-btn default-btn--border d-flex">
                    {{ "FARMPORTAL.GET_KNOW_INDUSTRY.ITEM_4" | translate }}
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="products__food-pass-ilu">
          <div class="row">
            <div class="col-12 col-xl-9 d-flex justify-content-center">
              <img
                src="assets/img/Farm%20Portal%20ilu.png"
                alt="Food pass ilustration"
              />
            </div>
          </div>
        </div>
        <div class="container-fluid py-0">
          <div class="row">
            <div class="col-12 col-xl-9">
              <h2 class="products__title--small">
                {{ "FARMPORTAL.CROP_MONITORING.TITLE" | translate }}
              </h2>
              <p class="products__paragraph">
                {{ "FARMPORTAL.CROP_MONITORING.PARAGRAPH" | translate }}
              </p>
              <div class="row products__box-row">
                <div class="col-6">
                  <div class="products__box-border">
                    <img
                      src="assets/img/farmportal-monitoring/Vector.png"
                      alt="icon"
                    />
                    <p>{{ "FARMPORTAL.CROP_MONITORING.ITEM_1" | translate }}</p>
                  </div>
                </div>
                <div class="col-6">
                  <div class="products__box-border">
                    <img
                      src="assets/img/farmportal-monitoring/Vector-2.png"
                      alt="icon"
                    />
                    <p>{{ "FARMPORTAL.CROP_MONITORING.ITEM_2" | translate }}</p>
                  </div>
                </div>
                <div class="col-6">
                  <div class="products__box-border">
                    <img
                      src="assets/img/farmportal-monitoring/Vector-1.png"
                      alt="icon"
                    />

                    <p>{{ "FARMPORTAL.CROP_MONITORING.ITEM_3" | translate }}</p>
                  </div>
                </div>
                <div class="col-6">
                  <div class="products__box-border">
                    <img
                      src="assets/img/farmportal-monitoring/Vector-3.png"
                      alt="icon"
                    />
                    <p>{{ "FARMPORTAL.CROP_MONITORING.ITEM_4" | translate }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container-fluid pb-0">
          <div class="row">
            <div class="col-12 col-xl-10">
              <h2 class="products__title--small">
                {{ "FARMPORTAL.FARM_INVENTORY.TITLE" | translate }}
              </h2>
              <p class="products__paragraph">
                {{ "FARMPORTAL.FARM_INVENTORY.PARAGRAPH" | translate }}
              </p>
              <div class="row products__box-row">
                <div class="col-6">
                  <div class="products__box-border">
                    <img
                      src="assets/img/farmportal-zarzadzanie/Vector.png"
                      alt="icon"
                    />
                    <p>{{ "FARMPORTAL.FARM_INVENTORY.ITEM_1" | translate }}</p>
                  </div>
                </div>
                <div class="col-6">
                  <div class="products__box-border">
                    <img
                      src="assets/img/farmportal-zarzadzanie/Vector-2.png"
                      alt="icon"
                    />
                    <p>{{ "FARMPORTAL.FARM_INVENTORY.ITEM_2" | translate }}</p>
                  </div>
                </div>
                <div class="col-6">
                  <div class="products__box-border">
                    <img
                      src="assets/img/farmportal-zarzadzanie/Vector-1.png"
                      alt="icon"
                    />
                    <p>{{ "FARMPORTAL.FARM_INVENTORY.ITEM_3" | translate }}</p>
                  </div>
                </div>
                <div class="col-6">
                  <div class="products__box-border">
                    <img
                      src="assets/img/farmportal-zarzadzanie/Vector-3.png"
                      alt="icon"
                    />
                    <p>{{ "FARMPORTAL.FARM_INVENTORY.ITEM_4" | translate }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container-fluid pb-0">
          <div class="row">
            <div class="col-12 col-xl-10">
              <h2 class="products__title--small">
                {{ "FARMPORTAL.NORMALIZATION.TITLE" | translate }}
              </h2>
              <p class="products__paragraph">
                {{ "FARMPORTAL.NORMALIZATION.PARAGRAPH" | translate }}
              </p>
              <div class="row products__box-row">
                <div class="col-6">
                  <div class="products__box-border">
                    <img
                      src="assets/img/farmportal-optymalizacja/Vector.png"
                      alt="icon"
                    />
                    <p>{{ "FARMPORTAL.NORMALIZATION.ITEM_1" | translate }}</p>
                  </div>
                </div>
                <div class="col-6">
                  <div class="products__box-border">
                    <img
                      src="assets/img/farmportal-optymalizacja/Vector-2.png"
                      alt="icon"
                    />
                    <p>{{ "FARMPORTAL.NORMALIZATION.ITEM_2" | translate }}</p>
                  </div>
                </div>
                <div class="col-6">
                  <div class="products__box-border">
                    <img
                      src="assets/img/farmportal-optymalizacja/Vector-1.png"
                      alt="icon"
                    />
                    <p>{{ "FARMPORTAL.NORMALIZATION.ITEM_3" | translate }}</p>
                  </div>
                </div>
                <div class="col-6">
                  <div class="products__box-border">
                    <img
                      src="assets/img/farmportal-optymalizacja/Vector-3.png"
                      alt="icon"
                    />
                    <p>{{ "FARMPORTAL.NORMALIZATION.ITEM_4" | translate }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container-fluid products__last-container">
          <div class="row">
            <div class="col-12 col-xl-10">
              <h2 class="products__title--small">
                {{ "FARMPORTAL.INTEGRATION.TITLE" | translate }}
              </h2>
              <p class="products__paragraph">
                {{ "FARMPORTAL.INTEGRATION.PARAGRAPH" | translate }}
              </p>
              <div class="row products__box-row">
                <div class="col-6">
                  <div class="products__box-border">
                    <img
                      src="assets/img/farmportal-inteligentne/Vector.png"
                      alt="icon"
                    />

                    <p>{{ "FARMPORTAL.INTEGRATION.ITEM_1" | translate }}</p>
                  </div>
                </div>
                <div class="col-6">
                  <div class="products__box-border">
                    <img
                      src="assets/img/farmportal-inteligentne/Vector-2.png"
                      alt="icon"
                    />
                    <p>{{ "FARMPORTAL.INTEGRATION.ITEM_2" | translate }}</p>
                  </div>
                </div>
                <div class="col-6">
                  <div class="products__box-border">
                    <img
                      src="assets/img/farmportal-inteligentne/Vector-1.png"
                      alt="icon"
                    />
                    <p>{{ "FARMPORTAL.INTEGRATION.ITEM_3" | translate }}</p>
                  </div>
                </div>
                <div class="col-6">
                  <div class="products__box-border">
                    <img
                      src="assets/img/farmportal-inteligentne/Vector-3.png"
                      alt="icon"
                    />
                    <p>{{ "FARMPORTAL.INTEGRATION.ITEM_4" | translate }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-4 d-none d-xl-block products__right-container">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <div class="products__brands">
                <p class="products__paragraph--gray">
                  {{ "FARMPORTAL.RELATED_INDUSTRIES.TITLE" | translate }}
                </p>
                <div class="products__btn-list">
                  <a class="default-btn default-btn--border mb-3" href="#">
                    {{ "FARMPORTAL.RELATED_INDUSTRIES.ITEM_1" | translate }}
                  </a>
                  <a class="default-btn default-btn--border mb-3" href="#">
                    {{ "FARMPORTAL.RELATED_INDUSTRIES.ITEM_2" | translate }}
                  </a>
                  <a class="default-btn default-btn--border mb-3" href="#">
                    {{ "FARMPORTAL.RELATED_INDUSTRIES.ITEM_3" | translate }}
                  </a>
                  <a class="default-btn default-btn--border" href="#">
                    {{ "FARMPORTAL.RELATED_INDUSTRIES.ITEM_4" | translate }}
                  </a>
                </div>
              </div>
              <div class="products__contact-section">
                <p class="products__paragraph--gray">
                  {{ "FARMPORTAL.CONTACT.TITLE" | translate }}
                </p>
                <p
                  class="products__contact-section-p"
                  [innerHTML]="'FARMPORTAL.CONTACT.ADDRESS' | translate"
                ></p>
                <a
                  class="default-btn default-btn--border d-flex"
                  routerLink="/contact"
                >
                  {{ "FARMPORTAL.CONTACT.BUTTON" | translate }}
                </a>
              </div>
              <div class="products__contact-section">
                <p class="products__paragraph--gray">
                  {{ "FARMPORTAL.BROCHURES.TITLE" | translate }}
                </p>
                <div>
                  <div class="products__contact-link-container">
                    <a class="products__contact-link" href="#">
                      <img src="assets/img/broszura.png" alt="Broszura" />
                      {{ "FARMPORTAL.BROCHURES.ITEM_1" | translate }}
                    </a>
                  </div>
                  <div class="products__contact-link-container">
                    <a class="products__contact-link" href="#">
                      <img src="assets/img/broszura.png" alt="Broszura" />
                      {{ "FARMPORTAL.BROCHURES.ITEM_2" | translate }}
                    </a>
                  </div>
                  <div class="products__contact-link-container">
                    <a class="products__contact-link" href="#">
                      <img src="assets/img/broszura.png" alt="Broszura" />
                      {{ "FARMPORTAL.BROCHURES.ITEM_3" | translate }}
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <img
          class="products__dark-img-sygnet"
          src="assets/img/Farm_Portal_logo_sygnet-1.png"
          alt="food portal sygnet"
        />
      </div>
    </div>
  </div>
</div>

<div class="products products--secondary-bg">
  <div class="container-fluid p-0">
    <div class="row">
      <div class="col-xl-8 products--secondary-bg-border">
        <div class="container-fluid products__food-pass-container">
          <img
            src="assets/img/Farm_Portal_logo_granat-1.png"
            alt="Food portal ilustration"
          />
          <img
            class="products__earth-day-img d-none d-xl-block"
            src="assets/img/crop-monitoring-via-mobile-device-2.png"
            alt="Food pass ilustration"
          />
        </div>
        <div class="container-fluid pt-0">
          <div class="row">
            <div class="col-12 col-xl-8">
              <h2 class="products__title--small">
                {{ "FARMPORTAL.ANYWHERE.TITLE" | translate }}
              </h2>
              <p class="products__paragraph">
                {{ "FARMPORTAL.ANYWHERE.PARAGRAPH" | translate }}
              </p>
              <div class="row products__gray-box-row">
                <div class="col-12 col-md-6">
                  <div class="products__gray-box">
                    {{ "FARMPORTAL.ANYWHERE.ITEM_1" | translate }}
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="products__gray-box">
                    {{ "FARMPORTAL.ANYWHERE.ITEM_2" | translate }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container-fluid pt-0">
          <div class="row">
            <div class="col-12 col-xl-8">
              <h2
                [innerHTML]="'FARMPORTAL.INCREASING_WORK.TITLE' | translate"
                class="products__title--small"
              ></h2>
              <div class="row products__gray-box-row">
                <div class="col-12 col-md-6">
                  <div
                    [innerHTML]="
                      'FARMPORTAL.INCREASING_WORK.ITEM_1' | translate
                    "
                    class="products__gray-box"
                  ></div>
                </div>
                <div class="col-12 col-md-6">
                  <div
                    class="products__gray-box"
                    [innerHTML]="
                      'FARMPORTAL.INCREASING_WORK.ITEM_2' | translate
                    "
                  ></div>
                </div>
                <div class="col-12 col-md-6">
                  <div
                    class="products__gray-box"
                    [innerHTML]="
                      'FARMPORTAL.INCREASING_WORK.ITEM_3' | translate
                    "
                  ></div>
                </div>
                <div class="col-12 col-md-6">
                  <div
                    class="products__gray-box"
                    [innerHTML]="
                      'FARMPORTAL.INCREASING_WORK.ITEM_4' | translate
                    "
                  ></div>
                </div>
                <div class="col-12 col-md-6">
                  <div
                    class="products__gray-box"
                    [innerHTML]="
                      'FARMPORTAL.INCREASING_WORK.ITEM_5' | translate
                    "
                  ></div>
                </div>
                <div class="col-12 col-md-6">
                  <div
                    class="products__gray-box"
                    [innerHTML]="
                      'FARMPORTAL.INCREASING_WORK.ITEM_6' | translate
                    "
                  ></div>
                </div>
                <div class="col-12 col-md-6">
                  <div
                    class="products__gray-box"
                    [innerHTML]="
                      'FARMPORTAL.INCREASING_WORK.ITEM_7' | translate
                    "
                  ></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container-fluid pt-0 d-xl-none">
          <div class="row">
            <div class="col-12 col-xl-6">
              <h2 class="products__title--small">
                {{ "FARMPORTAL.BROCHURES.DOWNLOAD" | translate }}
              </h2>
              <p class="products__paragraph">
                {{ "FARMPORTAL.BROCHURES.DOWNLOAD_TEXT" | translate }}
              </p>
              <ul class="products__documents">
                <li class="products__documents-item">
                  <a href="#">
                    <img src="assets/img/broszura.png" alt="Broszura" />
                    FarmPortal
                  </a>
                </li>
                <li class="products__documents-item">
                  <a href="#">
                    <img src="assets/img/broszura.png" alt="Broszura" />
                    FoodPass
                  </a>
                </li>
                <li class="products__documents-item">
                  <a href="#">
                    <img src="assets/img/broszura.png" alt="Broszura" />
                    FarmCloud
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="container-fluid pt-0 products__get-know-container">
          <div class="row">
            <div class="col-12 col-xl-8">
              <h2 class="products__title--small">
                {{ "FARMPORTAL.GET_KNOW.TITLE" | translate }}
              </h2>
              <div class="row products__btn-row">
                <div class="col-12 col-md-6">
                  <a
                    href="/agriculture"
                    class="default-btn default-btn--border d-flex"
                  >
                    {{ "FARMPORTAL.GET_KNOW.ITEM_1" | translate }}
                  </a>
                </div>
                <div class="col-12 col-md-6">
                  <a
                    href="/deployments-models"
                    class="default-btn default-btn--border d-flex"
                  >
                    {{ "FARMPORTAL.GET_KNOW.ITEM_2" | translate }}
                  </a>
                </div>
                <div class="col-12 col-md-6">
                  <a
                    href="/farmportal"
                    class="default-btn default-btn--border d-flex"
                  >
                    {{ "FARMPORTAL.GET_KNOW.ITEM_3" | translate }}
                  </a>
                </div>
                <div class="col-12 col-md-6">
                  <a
                    href="/farmcloud"
                    class="default-btn default-btn--border d-flex"
                  >
                    {{ "FARMPORTAL.GET_KNOW.ITEM_4" | translate }}
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="main-banner-customers">
        <div class="container-fluid container-fluid--small pt-0">
          <div class="row customers">
            <div class="col-md-3 col-6 customers__logo customers__logo--start">
              <img
                src="assets/img/microsoft_logo.png"
                class="customers__logo--microsoft"
                alt="image"
              />
            </div>
            <div
              class="col-md-3 col-6 customers__logo customers__logo--amplus-col"
            >
              <img
                src="assets/img/amplus_logo.png"
                class="customers__logo--amplus"
                alt="image"
              />
            </div>
            <div class="col-md-3 col-6 customers__logo mb-0">
              <img
                src="assets/img/agrosnova_logo.png"
                class="customers__logo--agrosnova"
                alt="image"
              />
            </div>
            <div
              class="col-md-3 col-6 customers__logo customers__logo--end mb-0"
            >
              <img
                src="assets/img/KOWR_logo.png"
                class="customers__logo--KOWR"
                alt="image"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
