<section class="about-area">
  <div class="recipients-list">
    <div class="container-fluid">
      <div class="row">
        <div class="section-title">
          <h2>{{ "LANDINGPAGE.RECIPIENTS.TITLE" | translate }}</h2>
          <p>
            {{ "LANDINGPAGE.RECIPIENTS.PARAGRAPH" | translate }}
          </p>
        </div>
      </div>
      <div class="row justify-content-xl-center">
        <div class="col-6 col-md-3 recipients-section">
          <a href="/agricultural-producers">
            <div class="single-recipients-box">
              <img src="assets/img/Vector-0.png" alt="icon" />
              <p>{{ "LANDINGPAGE.RECIPIENTS.ITEM_1" | translate }}</p>
            </div>
          </a>
        </div>
        <div class="col-6 col-md-3 recipients-section">
          <a href="/fruit-and-vegetable-distributors">
            <div class="single-recipients-box">
              <img src="assets/img/Vector-5.png" alt="icon" />
              <p>{{ "LANDINGPAGE.RECIPIENTS.ITEM_2" | translate }}</p>
            </div>
          </a>
        </div>
        <!--        <div class="col-6 col-md-3 recipients-section">-->
        <!--          <div class="single-recipients-box">-->
        <!--            <img src="assets/img/Vector-1.png" alt="icon" />-->
        <!--            <p>{{ "LANDINGPAGE.RECIPIENTS.ITEM_3" | translate }}</p>-->
        <!--          </div>-->
        <!--        </div>-->
        <!--        <div class="col-6 col-md-3 recipients-section">-->
        <!--          <div class="single-recipients-box">-->
        <!--            <img src="assets/img/Vector-6.png" alt="icon" />-->
        <!--            <p>{{ "LANDINGPAGE.RECIPIENTS.ITEM_4" | translate }}</p>-->
        <!--          </div>-->
        <!--        </div>-->
        <div class="col-6 col-md-3 recipients-section">
          <a href="/rentals-agricultural-equipment">
            <div class="single-recipients-box">
              <img src="assets/img/Vector-2.png" alt="icon" />
              <p>{{ "LANDINGPAGE.RECIPIENTS.ITEM_5" | translate }}</p>
            </div>
          </a>
        </div>
        <!--        <div class="col-6 col-md-3 recipients-section">-->
        <!--          <div class="single-recipients-box">-->
        <!--            <img src="assets/img/Vector-7.png" alt="icon" />-->
        <!--            <p>{{ "LANDINGPAGE.RECIPIENTS.ITEM_6" | translate }}</p>-->
        <!--          </div>-->
        <!--        </div>-->
        <!--        <div class="col-6 col-md-3 recipients-section">-->
        <!--          <div class="single-recipients-box">-->
        <!--            <img src="assets/img/Vector-3.png" alt="icon" />-->
        <!--            <p>{{ "LANDINGPAGE.RECIPIENTS.ITEM_7" | translate }}</p>-->
        <!--          </div>-->
        <!--        </div>-->
        <!--        <div class="col-6 col-md-3 recipients-section">-->
        <!--          <div class="single-recipients-box">-->
        <!--            <img src="assets/img/Vector-8.png" alt="icon" />-->
        <!--            <p>{{ "LANDINGPAGE.RECIPIENTS.ITEM_8" | translate }}</p>-->
        <!--          </div>-->
        <!--        </div>-->
        <!--        <div class="col-6 col-md-3 recipients-section">-->
        <!--          <div class="single-recipients-box">-->
        <!--            <img src="assets/img/Vector-4.png" alt="icon" />-->
        <!--            <p>{{ "LANDINGPAGE.RECIPIENTS.ITEM_9" | translate }}</p>-->
        <!--          </div>-->
        <!--        </div>-->
        <div class="col-6 col-md-3 recipients-section">
          <a href="/startup">
            <div class="single-recipients-box">
              <img src="assets/img/Vector-9.png" alt="icon" />
              <p>{{ "LANDINGPAGE.RECIPIENTS.ITEM_10" | translate }}</p>
            </div>
          </a>
        </div>
        <div class="col-6 col-md-3 recipients-section">
          <a href="/research-and-development-projects">
            <div class="single-recipients-box">
              <img src="assets/img/Vector-3.png" alt="icon" />
              <p>{{ "LANDINGPAGE.RECIPIENTS.ITEM_11" | translate }}</p>
            </div>
          </a>
        </div>
      </div>
      <div class="recipients-list__btn-container">
        <a routerLink="/recipients" class="default-btn">
          <span>{{ "LANDINGPAGE.RECIPIENTS.BUTTON" | translate }}</span></a
        >
      </div>
    </div>
  </div>
  <!-- <div class="circle-shape1"><img src="assets/img/shape/circle-shape1.png" alt="image"></div> -->
</section>
